@charset "utf-8";
@import "../../../modules/import";

.l-footer {
    margin-top: $gutter * 3;

    @include media(ll) {
        margin-top: $gutter * 4;
    }
}

/* pagetop */
.pagetop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;

    @include media(ll) {
        margin: 0 0 20px;
    }
}

.pagetop__lnk {
    display: block;
    font-size: 1.0rem;
    text-align: center;
    line-height: 1;
    color: map-get($themeColors,blue);
}

.pagetop__ico {
    margin-bottom: -5px;
    font-size: 2.4rem;

    @include media(ll) {
        font-size: 4.8rem;
    }
}

/* copy */
.copy {
    padding: ($gutter * 0.5) 0;
    font-size: 1.0rem;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    border-top: 1px solid #48565c;
    background-color: map-get($baseColors,black);
    color: map-get($baseColors,gray);
    
    @include media(md) {
        border-top: none;
    }
    @include media(ll) {
        padding: ($gutter * 0.5) 0;
        font-size: 1.2rem;
    }
}
