@charset "utf-8";
@import "../../../modules/import";

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: $headerHeight;
    background-color: #fff;

    @include media(xs) {
        height: $headerHeight-sp;
    }
    @include media(ll) {
        height: $headerHeight-pc;
        margin: 0 auto;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    padding-right: $gutter / 2;
    padding-left:  $gutter / 2;
}

//logo
.logo {
    height: 100%;
    display: flex;
    align-items: center;

    @include media(ll) {
        position: static;
        height: $headerHeight-pc;
        display: flex;
        align-items: center;
        top: auto;
        left: auto;
        margin-left: 0;
        margin-right: auto;
        transition: height $animationSec;
    }
}

.logo__hdg {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 1;
}

.logo__lnk {
    display: block;
    height: 55%;
    font-size: 2.4rem;
    font-weight: 700;
}

.logo__img {
    width:  48px;
    height: 36px;
    max-height: 100%;

    @include media(ll) {
        width:  64px;
        height: 60px;
    }
}

//tel
.telHeader {
    margin-top: $gutter * 1;
    text-align: right;
    line-height: 1;

    @include media(ll) {
        margin-top: 0;
        margin-bottom: $gutter * 0.666;
    }
}

.telHeader__num {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}

.telHeader__ico {
     font-size: 1.4rem;
}

.telHeader__txt {
    display: block;
    margin-top: 3px;
    font-size: 1.1rem;
}

.telHeader__lnk {
    display: block;

    @include media(md) {
        pointer-events: none;
    }
}