@charset "utf-8";
@import "../../../modules/import";

.l-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f8f8f8;
}
