@charset "utf-8";
@import "../../../modules/import";

.l-mark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width:  $markWidth;
    height: $markWidth;
    text-align: center;
    overflow: hidden;
    font-size: 24px;
    text-decoration: none;
    vertical-align: middle;
    transition: $animationSec;
    cursor: pointer;

    @include media(xs) {
        width:  $markWidth-sp;
        height: $markWidth-sp;
    }
    @include media(ll) {
        display: none;
    }
}

/* 1-7-1. .mark
-------------------------------------------------- */
.mark {
    margin-top: 3px;
    & > * {
        position: relative;
        text-decoration: none;
    }
    & > i {
        will-change: transform;
    }
}

.markMenu {
    position: relative;
    width: 100%;
    height: 1.8rem;
}

.markMenu__middle,
.markMenu__top,
.markMenu__bottom {

        display: inline-block;
        position: absolute;
        top:  50%;
        left: 50%;
        margin-left: -20%;
        width: 40%;
        height: 2px;
        background-color: #111;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.25,.74,.22,.99);

        .mark.is-active & {
            background-color: #3c3c3c;
        }

        .l-mark.is-fixed & {
            background-color: #111;
        }
}

.markMenu__middle {
    opacity: 1;
    margin-top: -2px;
    transition: opacity $animationSec;

    .mark.is-active & {
        opacity: 0;
    }
}

.markMenu__top {
    margin-top: -9px;

    .mark.is-active & {
        transform: rotate(45deg) translate(5px, 5px);
    }
}

.markMenu__bottom {
    margin-top: 5px;

    .mark.is-active & {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}