@charset "utf-8";
@import "../../../modules/import";

.l-nav {
    visibility: hidden;
    position: fixed;
    right: 0;
    top: $headerHeight;
    width: 100%;
    bottom: 0;

    @include media(xs) {
        top: $headerHeight-sp;
    }

    @include media(ll) {
        position: static;
        height: 100%;
    }
}

.l-nav--footer {
    background-color: #293337;

    * {
        color: #9da3a7;
    }

    @include media(md) {
        padding: ($gutter * 1.5) 0;
    }
}
