@charset "utf-8";
@import "../../../modules/import";

body.is-fix {
    .l-nav {
        visibility: visible;
    }
    .globalNav__bg {
        opacity: 1;
    }
    .gNav {
        opacity: 1;
        visibility: visible;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    @include media(ll) {
        .l-main {
            margin-top: 0;
        }
        .l-header {
            position: fixed;
        }
        .gNav {
            overflow: visible;
        }
    }
}