@charset "UTF-8";
/* *==============================================================================================================================
 * css foundation
 *
 * [reset]
 * _r1. html body anchor
 * _r2. heading, paragraph
 * _r3. table
 * _r4. list
 * _r5. img , object
 * _r6. text level
 * _r7. form
 * _r8. form design init
 *
 * [setting]
 * _variable
 * _function
 * _mixin
 * _vendor
 * _base
 *
 */

/*
 * [reset]
 * ==============================================================================================================================
 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, p, blockquote, th, td, form, fieldset, legend, figure {
    margin: 0;
    padding: 0;
		box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
		box-sizing: border-box;
}
audio, canvas, video {
    display: inline-block; *display: inline; *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}

/*
 * _r1. html body anchor
 * ------------------------------------------------------------------------------------------------------------------------------
 */

html {
    overflow-y: scroll;
    -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
    font-size: calc(1em * .625) /*62.5% */;
    background: none;
}

a {
}
a:link {
    text-decoration: underline;
}
a:visited {
    text-decoration: underline;
}
a:hover,
a:active {
    text-decoration: none;
    outline-width: 0;
}
a:focus {
    text-decoration: none;
    outline-width: 0;
}

.none {
		color: inherit !important;
		text-decoration: none !important;
		cursor: default;
}

/*
 * _r2. heading, paragraph
 * ------------------------------------------------------------------------------------------------------------------------------
 */

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    line-height: 1.54;
}

p {}

/*
 * _r3. table, th, td, caption
 * ------------------------------------------------------------------------------------------------------------------------------
 */

table {
    border-collapse: collapse;
    border-spacing: 0;

    font-size: 100%;
    font-family: inherit;
}

caption, th, td {
    text-align: left;
    vertical-align: top;

    font-weight: normal;
}

/*
 * _r4. list
 * ------------------------------------------------------------------------------------------------------------------------------
 */

li {
    list-style: none;
}

/*
 * _r5. img , object
 * ------------------------------------------------------------------------------------------------------------------------------
 */

img {
    margin:	0;
    padding:	0;
    border:	0 none;
    -ms-interpolation-mode: bicubic;
    line-height: 1.0;
    vertical-align: bottom;
}
a img {
    line-height: 1.0;
    vertical-align: bottom;
}
object {
    vertical-align: middle;
    outline: none;
}

/*
 * _r6. text level
 * ------------------------------------------------------------------------------------------------------------------------------
 */

b, em, strong {
    font-weight: bold;
    font-style: normal;
}
abbr, acronym {
    border:		0px none;
    font-variant: normal;
}
small {
    font-size: 11px; font-size: 1.1rem;
}
sub, sup {
position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
	}
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }
blockquote {
    margin: 1em 40px;
}
q {
    quotes: none;
}
q:before, q:after {
    content: '';
    content: none;
}
address, caption, cite, code, dfn, var {
    font-weight:	normal;
    font-style:	normal;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
code, pre, kbd, samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
mark {
    background-color: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: none;
}

/*
 * _r7. form
 * ------------------------------------------------------------------------------------------------------------------------------
 */

form {
    margin:	0;
    padding:	0;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}
optgroup {
    font-weight: bold;
}
button, input, select, textarea {
    margin: 0;
    font: inherit;
}
button, input, select {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
    cursor: pointer;
}
[disabled] {
    cursor: default;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button:-moz-focusring, input:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}
legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
}
textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 5px;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

label {
    font: inherit;
    cursor: pointer;
}


/*
 * _r8. form design init
 * ------------------------------------------------------------------------------------------------------------------------------
 */

input[type='text'],input[type='search'],input[type='tel'],input[type='url'],input[type='email'],input[type='password'],input[type='datetime'],input[type='datetime-local'],input[type='date'],input[type='month'],input[type='week'],input[type='time'],input[type='number'],input[type='ile'],input[type='submit'],input[type='reset'],input[type='button'],input[type='image'],button,textarea,select {
  -webkit-appearance: none;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: top;
}

input[type='text'],input[type='search'],input[type='tel'],input[type='url'],input[type='email'],input[type='password'],input[type='datetime'],input[type='datetime-local'],input[type='date'],input[type='month'],input[type='week'],input[type='time'],input[type='number'],input[type='file'],textarea,select {
  width: 100%;
  height: 2em;
}

input[type='image'] {
  max-width: 100%;
}

textarea {
  height: 10em;
  min-height: 2em;
  resize: vertical;
}

input[type='text'],input[type='search'],input[type='tel'],input[type='url'],input[type='email'],input[type='password'],input[type='datetime'],input[type='datetime-local'],input[type='date'],input[type='month'],input[type='week'],input[type='time'],input[type='number'],textarea,select {
  padding-left: .4em;
  background: #fff;
  border: none;
  border-radius: 0;
}

input[type='submit'],input[type='reset'],input[type='button'],button {
  border: none;
  color: #fff;
  cursor: pointer;
  background: none;
}

input[type="text"],input[type="email"],input[type="tel"],input[type="password"],textarea,select {
  outline: none;
}

::-webkit-input-placeholder {
  color:#888;
}
::-moz-placeholder {
 color:#888;
 opacity: 1;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
 color:#888;
}







/* end.css
============================================================================================================================================================================================================================== */