@charset "utf-8";
@import "../../../modules/import";

.footerNav__content {
    padding-top:    ($gutter * 1);
    padding-bottom: ($gutter * 1);
    text-align: center;

    @include media(md) {
        text-align: left;
        margin-right: 60px;
        padding-top: 0;
        padding-bottom: 0;
        float: left;
        max-width: 40%;
    }
}

.logo-f {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

// fNav
.fNav {
    margin-right: $gutter * -0.5;
    margin-left:  $gutter * -0.5;

    @include media(md) {
        display: flex;
        margin-right: auto;
        margin-left:  auto;
    }

}

.fNav__item {
    height: 100%;

    @include media(md) {
        margin-right: $gutter * 2;
        max-width: 30%;
    }

    &:last-child {

        @include media(md) {
            margin-right: 0;
        }
    }
}

.fNav__item--child:not(:last-child) {

    @include media(md) {
        margin-bottom: $gutter * 1;
    }
}

.fNav__item--content {

    @include media(md) {
        line-height: 1;
    }

    &:not(:last-child) {

        @include media(md) {
            margin-bottom: 10px;
        }
    }
}

.fNav__txt,
.fNav__lnk--child,
.fNav__lnk--content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: ($gutter * 0.5) ($gutter * 1.0) ($gutter * 0.5) ($gutter * 0.5);
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1.3px;
    border-top: 1px solid #48565c;

    @include media(md) {
        padding: 0;
        border-top: none;
    }
}

.fNav__txt,
.fNav__lnk--child {
    font-weight: 700;

    @include media(md) {
        font-size: 1.5rem;
        transition: .3s;
    }

    &::before {
        content: '';
        display: block;
        width: 4px;
        height: 2px;
        background-color: $navfoot;
        margin-right: 5px;

        @include media(md) {
            width: 8px;
            height: 3px;
        }
    }
}

.fNav__lnk--child.is-active,
.fNav__lnk--content.is-active {

    @include media(md) {
        opacity: 0.7;
    }
}

.fNav__txt {
    justify-content: space-between;

    @include media(md) {
        margin-bottom: $gutter * 0.5;
        justify-content: flex-start;
        height: auto;
    }

    &::after {
        content: "\e61a";
        display: block;
        font-family: 'themify';
        color: #fff;
        margin-left: auto;
        margin-right: 0;

        @include media(md) {
            display: none;
        }
    }

    &.is-active::after {
        content: "\e622";
    }
}

.fNav__content {
    display: none;

    @include media(md) {
        display: block !important;
        margin-left: 6px;
    }
}

.fNav__lnk--content {
    padding-left: 25px;

    @include media(md) {
        font-size: 1.2rem;
        display: inline-block;
        width: auto;
        vertical-align: top;
        padding-left: 5px;
        text-indent: -5px;
        transition: .3s;
    }
}