@charset "utf-8";
@import "../../../modules/import";

.globalNav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include media(ll) {
        position: static;
        height: 100%;
    }
}

.globalNav__content {
    perspective: 500px;
    width: 100%;

    @media (min-width: 375px) and (max-width: 575px) {
        width: calc(100% - 120px);
    }

    @media (min-width:576px) and (max-width:767px) {
        width: calc(100% - 240px);
    }

    @media (min-width:768px) and (max-width:1024px) {
        width: 45%;
    }

    @include media(ll) {
        perspective: none;
    }
}

.globalNav__bg {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transition-duration: .4s;
    cursor: pointer;

    @include media(ll) {
        display: none;
    }
}

// gNav sNav
.gNav__lnk--item,
.gNav__txt--item,
.sNav__lnk--item,
.sNav__txt--item {
    display: flex;
    align-items: center;
    height: 45px;
    position: relative;
    font-weight: 700;
    padding-left: 15px;
}

.gNav__txt--item,
.sNav__txt--item {

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        //font icon
        content: "\e61a";
        font-family: 'themify';
        width:  45px;
        height: 45px;
        font-size: 1.1rem;
        background-color: #f5f5f5;
    }

    &.is-active::before {
        content: "\e622";
    }
}

// gNav
.gNav {
    opacity: 0;
    visibility: hidden;
    width:  100%;
    height: 100%;
    padding: $gutter * 1;
    background-color: #fff;

    @media (min-width: 375px) {
        transform: rotateY(-10deg);
        transform-origin: right;
    }

    @media (min-width:768px) and (max-width:1024px) {
        padding: 40px 12.5%;
    }

    @include media(ll) {
        background-color: #fff;
        opacity: 1;
        visibility: visible;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding: 0;
        -webkit-transform: none !important;
        transform: none !important;
    }

    //flag
    .flgSp &,
    .flgTab & {
        transition-duration: .3s;
    }
}

.gNav__item {
    line-height: 1;
    border-top: 1px solid #e5e6e6;

    @include media(ll) {
        margin-right: 40px;
        font-size: 1.4rem;
        padding: 0;
        height: auto;
        display: block;
        border: none;
    }

    &:last-child {
        margin-right: 0;
    }
}

.gNav__lnk--item,
.gNav__txt--item {

    @include media(ll) {

        padding: 0 0 30px 0;
        position: relative;
        height: auto;
        transition: color .2s;

        .gNav__item.is-active > & {
            color: $navmain;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $navmain;
            transition: .2s;

            .gNav__item.is-active & {
                width: 100%;
            }
        }
        &::before {
            display: none;
        }
    }
}

// subNav
.subNav,
.subNav--child {
    display: none;
    background-color: #f5f5f5;

    @include media(ll) {
        width: 100%;
        position: absolute;
        left: 0;
        top: $headerHeight-pc;
        background-color: $navmain;
    }
}

.subNav--child {
    background-color: #dedede;

    @include media(ll) {
        top: $subnavHeight-pc;
        background-color: $navsubs;
    }
}

// sNav
.sNav,
.sNav--child {

    @include media(ll) {
        width: 1000px;
        height: 64px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.sNav {

    @include media(ll) {
        * {
            color: #fff;
        }
    }
}

.sNav__item,
.sNav__item--child {

    @include media(ll) {
        border: none !important;
    }
}

[class*="sNav__item"] {

    @include media(ll) {
        margin: 0 30px;
    }
}

.sNav__item {
    border-top: 1px solid #e5e6e6;
}

.sNav__item--child:not(:first-child) {
    border-top: 1px solid #fff;
}

.sNav__txt--item,
.sNav__lnk--item {

    @include media(ll) {
        padding-bottom: 24px;
        display: block;
        height: auto;
        padding-left: 0;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #fff;
            transition: .2s;

            [class*="sNav__item"].is-active > & {
                width: 100%;
            }
        }
    }
}

.sNav__txt--item {
    position: relative;
    padding-left: 30px;

    &::before {
        background-color: #dedede;
    }
}

.sNav__lnk--item {
    position: relative;
    padding-left: 30px;

    @include media(ll) {
        .sNav__item--child & {
            padding-left: 0;
        }
    }

    .sNav__item--child & {
        padding-left: 45px;
    }
}

.sNav__txt--item {

    @include media(ll) {

        &::before {
            display: none;
        }
    }
}
