@charset "utf-8";
@import "../../../modules/import";

/*
 * grid
 */
    .container,
    .container-fluid {
        width: 100%;
        margin-right: auto;
        margin-left:  auto;
        padding-right: $gutter / 2;
        padding-left:  $gutter / 2;
    }
    .container {
        @include media(sm)  { max-width:  540px; }
        @include media(md)  { max-width:  720px; }
        @include media(lg)  { max-width:  960px; }
        @include media(ll)  { max-width:  960px; }
        @include media(xl)  { max-width: 1140px; }
        @include media(xl2) { max-width: 1380px; }
    }

//row & gutter
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: ($gutter / 2) * -1;
        margin-left:  ($gutter / 2) * -1;
    }
@for $i from 0 through 10 {
    $spacing: 10;
    .gutters-#{$i * $spacing} {  margin-right: (($spacing/2) * -1px) * $i; margin-left: (($spacing/2) * -1px) * $i; }
    .gutters-#{$i * $spacing} > [class*="col-"] { padding-right:(($spacing/2) * 1px) * $i; padding-left:(($spacing/2) * 1px) * $i}
}
@each $bp in $bps {
@include media(#{$bp}) {
@for $i from 0 through 10 {
    $spacing: 10;
    .gutters-#{$bp}-#{$i * $spacing} {  margin-right: (($spacing/2) * -1px) * $i; margin-left: (($spacing/2) * -1px) * $i; }
    .gutters-#{$bp}-#{$i * $spacing} > [class*="col-"] { padding-right:(($spacing/2) * 1px) * $i; padding-left:(($spacing/2) * 1px) * $i}
}
}
}

//col
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
    .col-ss-1, .col-ss-2, .col-ss-3, .col-ss-4, .col-ss-5, .col-ss-6, .col-ss-7, .col-ss-8, .col-ss-9, .col-ss-10, .col-ss-11, .col-ss-12, .col-ss, .col-ss-auto,
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
    .col-ll-1, .col-ll-2, .col-ll-3, .col-ll-4, .col-ll-5, .col-ll-6, .col-ll-7, .col-ll-8, .col-ll-9, .col-ll-10, .col-ll-11, .col-ll-12, .col-ll, .col-ll-auto,
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto,
    .col-per10, .col-per20, .col-per30, .col-per40, .col-per50, .col-per60, .col-per70, .col-per80, .col-per90, .col-per, .col-per-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: $gutter / 2;
        padding-left:  $gutter / 2;
    }
    .col { flex-basis: 0; flex-grow: 1; max-width: 100%; }
    .col-auto { flex: 0 0 auto; width: auto; max-width: none; }
    .col-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-3 { flex: 0 0 25%; max-width: 25%; }
    .col-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-6 { flex: 0 0 50%; max-width: 50%; }
    .col-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-9 { flex: 0 0 75%; max-width: 75%; }
    .col-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-12 { flex: 0 0 100%; max-width: 100%; }
    .col-per { flex-basis: 0; flex-grow: 1; max-width: 100%; }
    .col-per-auto { flex: 0 0 auto; width: auto; max-width: none; }
    .col-per10 { flex: 0 0 10%; max-width: 10%; }
    .col-per20 { flex: 0 0 20%; max-width: 20%; }
    .col-per30 { flex: 0 0 30%; max-width: 30%; }
    .col-per40 { flex: 0 0 40%; max-width: 40%; }
    .col-per50 { flex: 0 0 50%; max-width: 50%; }
    .col-per60 { flex: 0 0 60%; max-width: 60%; }
    .col-per70 { flex: 0 0 60%; max-width: 70%; }
    .col-per80 { flex: 0 0 60%; max-width: 80%; }
    .col-per90 { flex: 0 0 60%; max-width: 90%; }
    .col-per100 { flex: 0 0 100%; max-width: 100%; }
    .order-first { order: -1; }
    .order-last { order: 13; }
    .order-0 { order: 0; }
    .order-1 { order: 1; }
    .order-2 { order: 2; }
    .order-3 { order: 3; }
    .order-4 { order: 4; }
    .order-5 { order: 5; }
    .order-6 { order: 6; }
    .order-7 { order: 7; }
    .order-8 { order: 8; }
    .order-9 { order: 9; }
    .order-10 { order: 10; }
    .order-11 { order: 11; }
    .order-12 { order: 12; }
    .offset-0 { margin-left: 0; }
    .offset-1 { margin-left: 8.333333%; }
    .offset-2 { margin-left: 16.666667%; }
    .offset-3 { margin-left: 25%; }
    .offset-4 { margin-left: 33.333333%; }
    .offset-5 { margin-left: 41.666667%; }
    .offset-6 { margin-left: 50%; }
    .offset-7 { margin-left: 58.333333%; }
    .offset-8 { margin-left: 66.666667%; }
    .offset-9 { margin-left: 75%; }
    .offset-10 { margin-left: 83.333333%; }
    .offset-11 { margin-left: 91.666667%; }
    .minus-1  { margin-left: 1/12 * 100% * -1; }
    .minus-2  { margin-left: 2/12 * 100% * -1; }
    .minus-3  { margin-left: 3/12 * 100% * -1; }
    .minus-4  { margin-left: 4/12 * 100% * -1; }
    .minus-5  { margin-left: 5/12 * 100% * -1; }
    .minus-6  { margin-left: 6/12 * 100% * -1; }
    .minus-7  { margin-left: 7/12 * 100% * -1; }
    .minus-8  { margin-left: 8/12 * 100% * -1; }
    .minus-9  { margin-left: 9/12 * 100% * -1; }
    .minus-10 { margin-left: 10/12 * 100% * -1; }
    .minus-11 { margin-left: 11/12 * 100% * -1; }

@each $bp in $bps {
@include media(#{$bp}) {
    .col-#{$bp} { flex-basis: 0; flex-grow: 1; max-width: 100%; }
    .col-#{$bp}-auto { flex: 0 0 auto; width: auto; max-width: none; }
    .col-#{$bp}-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-#{$bp}-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-#{$bp}-3 { flex: 0 0 25%; max-width: 25%; }
    .col-#{$bp}-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-#{$bp}-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-#{$bp}-6 { flex: 0 0 50%; max-width: 50%; }
    .col-#{$bp}-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-#{$bp}-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-#{$bp}-9 { flex: 0 0 75%; max-width: 75%; }
    .col-#{$bp}-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-#{$bp}-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-#{$bp}-12 { flex: 0 0 100%; max-width: 100%; }
    .col-#{$bp}-per { flex-basis: 0; flex-grow: 1; max-width: 100%; }
    .col-#{$bp}-per-auto { flex: 0 0 auto; width: auto; max-width: none; }
    .col-#{$bp}-per10 { flex: 0 0 10%; max-width: 10%; }
    .col-#{$bp}-per20 { flex: 0 0 20%; max-width: 20%; }
    .col-#{$bp}-per30 { flex: 0 0 30%; max-width: 30%; }
    .col-#{$bp}-per40 { flex: 0 0 40%; max-width: 40%; }
    .col-#{$bp}-per50 { flex: 0 0 50%; max-width: 50%; }
    .col-#{$bp}-per60 { flex: 0 0 60%; max-width: 60%; }
    .col-#{$bp}-per70 { flex: 0 0 60%; max-width: 70%; }
    .col-#{$bp}-per80 { flex: 0 0 60%; max-width: 80%; }
    .col-#{$bp}-per90 { flex: 0 0 60%; max-width: 90%; }
    .col-#{$bp}-per100 { flex: 0 0 100%; max-width: 100%; }
    .order-#{$bp}-first { order: -1; }
    .order-#{$bp}-last { order: 13; }
    .order-#{$bp}-0 { order: 0; }
    .order-#{$bp}-1 { order: 1; }
    .order-#{$bp}-2 { order: 2; }
    .order-#{$bp}-3 { order: 3; }
    .order-#{$bp}-4 { order: 4; }
    .order-#{$bp}-5 { order: 5; }
    .order-#{$bp}-6 { order: 6; }
    .order-#{$bp}-7 { order: 7; }
    .order-#{$bp}-8 { order: 8; }
    .order-#{$bp}-9 { order: 9; }
    .order-#{$bp}-10 { order: 10; }
    .order-#{$bp}-11 { order: 11; }
    .order-#{$bp}-12 { order: 12; }
    .offset-#{$bp}-0 { margin-left: 0; }
    .offset-#{$bp}-1 { margin-left: 8.333333%; }
    .offset-#{$bp}-2 { margin-left: 16.666667%; }
    .offset-#{$bp}-3 { margin-left: 25%; }
    .offset-#{$bp}-4 { margin-left: 33.333333%; }
    .offset-#{$bp}-5 { margin-left: 41.666667%; }
    .offset-#{$bp}-6 { margin-left: 50%; }
    .offset-#{$bp}-7 { margin-left: 58.333333%; }
    .offset-#{$bp}-8 { margin-left: 66.666667%; }
    .offset-#{$bp}-9 { margin-left: 75%; }
    .offset-#{$bp}-10 { margin-left: 83.333333%; }
    .offset-#{$bp}-11 { margin-left: 91.666667%; }
    .minus-#{$bp}-1  { margin-left: 1/12 * 100% * -1; }
    .minus-#{$bp}-2  { margin-left: 2/12 * 100% * -1; }
    .minus-#{$bp}-3  { margin-left: 3/12 * 100% * -1; }
    .minus-#{$bp}-4  { margin-left: 4/12 * 100% * -1; }
    .minus-#{$bp}-5  { margin-left: 5/12 * 100% * -1; }
    .minus-#{$bp}-6  { margin-left: 6/12 * 100% * -1; }
    .minus-#{$bp}-7  { margin-left: 7/12 * 100% * -1; }
    .minus-#{$bp}-8  { margin-left: 8/12 * 100% * -1; }
    .minus-#{$bp}-9  { margin-left: 9/12 * 100% * -1; }
    .minus-#{$bp}-10 { margin-left: 10/12 * 100% * -1; }
    .minus-#{$bp}-11 { margin-left: 11/12 * 100% * -1; }
}
}
