@charset "utf-8";
@import "../../../modules/import";

/*
 * display
 */
    //display-outside
    .u-d-b     { display: block !important; }
    .u-d-i     { display: inline !important; }
    .u-d-r     { display: run-in !important; }
    //display-inside
    .u-d-f     { display: flex !important; flex-wrap: wrap; }
    .u-d-flw   { display: flow !important; }
    .u-d-flwr  { display: flow-root !important; }
    .u-d-tb    { display: table !important; }
    .u-d-g     { display: grid !important; }
    .u-d-rb    { display: ruby !important; }
    // display-listitem
    .u-d-li          { display: list-item !important; }
    .u-d-li--b       { display: list-item block !important; }
    .u-d-li--i       { display: list-item inline !important; }
    .u-d-li--flw     { display: list-item flow !important; }
    .u-d-li--flwr    { display: list-item flow-root !important; }
    .u-d-li--b--flw  { display: list-item block flow !important; }
    .u-d-li--b--flwr { display: list-item block flow-root !important; }
    .u-d-flw--li--b  { display: flow list-item block !important; }
    //display-internal
    .u-d-tbrg  { display: table-row-group !important; }
    .u-d-tbhg  { display: table-header-group !important; }
    .u-d-tbfg  { display: table-footer-group !important; }
    .u-d-tbr   { display: table-row !important; }
    .u-d-tbc   { display: table-cell !important; }
    .u-d-tbclg { display: table-column-group !important; }
    .u-d-tbcl  { display: table-column !important; }
    .u-d-tbcp  { display: table-caption !important; }
    .u-d-rbb   { display: ruby-base !important; }
    .u-d-rbt   { display: ruby-text !important; }
    .u-d-rbbc  { display: ruby-base-container !important; }
    .u-d-rbtc  { display: ruby-text-container !important; }
    // display-internal
    //.u-d-c     { display: contents !important; }
    .u-d-n     { display: none !important; }
    // display-legacy
    .u-d-ib    { display: inline-block !important; }
    .u-d-itb   { display: inline-table !important; }
    .u-d-if    { display: inline-flex !important; }
    .u-d-ig    { display: inline-grid !important; }
    // global
    .u-d-inh   { display: inherit !important; }
    .u-d-init  { display: initial !important; }
    .u-d-uns   { display: unset !important; }
@each $bp in $bps {
@include media(#{$bp}) {
    .u-d-#{$bp}-b     { display: block !important; }
    .u-d-#{$bp}-i     { display: inline !important; }
    .u-d-#{$bp}-r     { display: run-in !important; }
    .u-d-#{$bp}-f     { display: flex !important; flex-wrap: wrap; }
    .u-d-#{$bp}-flw   { display: flow !important; }
    .u-d-#{$bp}-flwr  { display: flow-root !important; }
    .u-d-#{$bp}-tb    { display: table !important; }
    .u-d-#{$bp}-g     { display: grid !important; }
    .u-d-#{$bp}-rb    { display: ruby !important; }
    .u-d-#{$bp}-li          { display: list-item !important; }
    .u-d-#{$bp}-li--b       { display: list-item block !important; }
    .u-d-#{$bp}-li--i       { display: list-item inline !important; }
    .u-d-#{$bp}-li--flw     { display: list-item flow !important; }
    .u-d-#{$bp}-li--flwr    { display: list-item flow-root !important; }
    .u-d-#{$bp}-li--b--flw  { display: list-item block flow !important; }
    .u-d-#{$bp}-li--b--flwr { display: list-item block flow-root !important; }
    .u-d-#{$bp}-flw--li--b  { display: flow list-item block !important; }
    .u-d-#{$bp}-tbrg  { display: table-row-group !important; }
    .u-d-#{$bp}-tbhg  { display: table-header-group !important; }
    .u-d-#{$bp}-tbfg  { display: table-footer-group !important; }
    .u-d-#{$bp}-tbr   { display: table-row !important; }
    .u-d-#{$bp}-tbc   { display: table-cell !important; }
    .u-d-#{$bp}-tbclg { display: table-column-group !important; }
    .u-d-#{$bp}-tbcl  { display: table-column !important; }
    .u-d-#{$bp}-tbcp  { display: table-caption !important; }
    .u-d-#{$bp}-rbb   { display: ruby-base !important; }
    .u-d-#{$bp}-rbt   { display: ruby-text !important; }
    .u-d-#{$bp}-rbbc  { display: ruby-base-container !important; }
    .u-d-#{$bp}-rbtc  { display: ruby-text-container !important; }
    //.u-d-#{$bp}-c     { display: contents !important; }
    .u-d-#{$bp}-n     { display: none !important; }
    .u-d-#{$bp}-ib    { display: inline-block !important; }
    .u-d-#{$bp}-itb   { display: inline-table !important; }
    .u-d-#{$bp}-if    { display: inline-flex !important; }
    .u-d-#{$bp}-ig    { display: inline-grid !important; }
    .u-d-#{$bp}-inh   { display: inherit !important; }
    .u-d-#{$bp}-init  { display: initial !important; }
    .u-d-#{$bp}-uns   { display: unset !important; }
}
}
@media print {
    .u-d-print-f     { display: flex !important; flex-wrap: wrap; }
    .u-d-print-flw   { display: flow !important; }
    .u-d-print-flwr  { display: flow-root !important; }
    .u-d-print-tb    { display: table !important; }
    .u-d-print-g     { display: grid !important; }
    .u-d-print-rb    { display: ruby !important; }
    .u-d-print-li          { display: list-item !important; }
    .u-d-print-li--b       { display: list-item block !important; }
    .u-d-print-li--i       { display: list-item inline !important; }
    .u-d-print-li--flw     { display: list-item flow !important; }
    .u-d-print-li--flwr    { display: list-item flow-root !important; }
    .u-d-print-li--b--flw  { display: list-item block flow !important; }
    .u-d-print-li--b--flwr { display: list-item block flow-root !important; }
    .u-d-print-flw--li--b  { display: flow list-item block !important; }
    .u-d-print-tbrg  { display: table-row-group !important; }
    .u-d-print-tbhg  { display: table-header-group !important; }
    .u-d-print-tbfg  { display: table-footer-group !important; }
    .u-d-print-tbr   { display: table-row !important; }
    .u-d-print-tbc   { display: table-cell !important; }
    .u-d-print-tbclg { display: table-column-group !important; }
    .u-d-print-tbcl  { display: table-column !important; }
    .u-d-print-tbcp  { display: table-caption !important; }
    .u-d-print-rbb   { display: ruby-base !important; }
    .u-d-print-rbt   { display: ruby-text !important; }
    .u-d-print-rbbc  { display: ruby-base-container !important; }
    .u-d-print-rbtc  { display: ruby-text-container !important; }
    //.u-d-print-c     { display: contents !important; }
    .u-d-print-n     { display: none !important; }
    .u-d-print-ib    { display: inline-block !important; }
    .u-d-print-itb   { display: inline-table !important; }
    .u-d-print-if    { display: inline-flex !important; }
    .u-d-print-ig    { display: inline-grid !important; }
    .u-d-print-inh   { display: inherit !important; }
    .u-d-print-init  { display: initial !important; }
    .u-d-print-uns   { display: unset !important; }
}

//     .d-none         { display: none !important; }
//     .d-block        { display: block !important; }
//     .d-flex         { display: flex !important; }
//     .d-inline-flex  { display: inline-flex !important; }
//     .d-inline       { display: inline !important; }
//     .d-inline-block { display: inline-block !important; }
//     .d-table        { display: table !important; }
//     .d-table-row    { display: table-row !important; }
//     .d-table-cell   { display: table-cell !important; }
// @each $bp in $bps {
// @include media(#{$bp}) {
//     .d-#{$bp}-none         { display: none !important; }
//     .d-#{$bp}-inline       { display: inline !important; }
//     .d-#{$bp}-inline-block { display: inline-block !important; }
//     .d-#{$bp}-block        { display: block !important; }
//     .d-#{$bp}-table        { display: table !important; }
//     .d-#{$bp}-table-row    { display: table-row !important; }
//     .d-#{$bp}-table-cell   { display: table-cell !important; }
//     .d-#{$bp}-flex         { display: flex !important; }
//     .d-#{$bp}-inline-flex  { display: inline-flex !important; }
// }
// }

