@charset "utf-8";
@import "../../../modules/import";

/*
 * flex
 */
    .u-fxw-w  { flex-wrap: wrap; }
    .u-fxw-nw { flex-wrap: nowrap; }
    .u-fxw-wr { flex-wrap: wrap-reverse; }
    .u-fxd-r  { flex-direction: row; }
    .u-fxd-rr { flex-direction: row-reverse; }
    .u-fxd-c  { flex-direction: column; }
    .u-fxd-cr { flex-direction: column-reverse; }
    .u-jc-fs { justify-content: flex-start; }
    .u-jc-fe { justify-content: flex-end; }
    .u-jc-c  { justify-content: center; }
    .u-jc-sb { justify-content: space-between; }
    .u-jc-sa { justify-content: space-around; }
    .u-ac-fs { align-content: flex-start; }
    .u-ac-fe { align-content: flex-end; }
    .u-ac-c  { align-content: center; }
    .u-ac-sb { align-content: space-between; }
    .u-ac-sa { align-content: space-around; }
    .u-ac-s  { align-content: stretch; }
    .u-ai-fs { align-items: flex-start; }
    .u-ai-fe { align-items: flex-end; }
    .u-ai-s  { align-items: stretch; }
    .u-ai-c  { align-items: center; }
    .u-ai-b  { align-items: baseline; }
    .u-as-fs { align-self: flex-start; }
    .u-as-fe { align-self: flex-end; }
    .u-as-s  { align-self: stretch; }
    .u-as-c  { align-self: center; }
    .u-as-b  { align-self: baseline; }
@each $bp in $bps {
@include media(#{$bp}) {
    .u-fxw-#{$bp}-w  { flex-wrap: wrap; }
    .u-fxw-#{$bp}-nw { flex-wrap: nowrap; }
    .u-fxw-#{$bp}-wr { flex-wrap: wrap-reverse; }
    .u-fxd-#{$bp}-r  { flex-direction: row; }
    .u-fxd-#{$bp}-rr { flex-direction: row-reverse; }
    .u-fxd-#{$bp}-c  { flex-direction: column; }
    .u-fxd-#{$bp}-cr { flex-direction: column-reverse; }
    .u-jc-#{$bp}-fs { justify-content: flex-start; }
    .u-jc-#{$bp}-fe { justify-content: flex-end; }
    .u-jc-#{$bp}-c  { justify-content: center; }
    .u-jc-#{$bp}-sb { justify-content: space-between; }
    .u-jc-#{$bp}-sa { justify-content: space-around; }
    .u-ac-#{$bp}-fs { align-content: flex-start; }
    .u-ac-#{$bp}-fe { align-content: flex-end; }
    .u-ac-#{$bp}-c  { align-content: center; }
    .u-ac-#{$bp}-sb { align-content: space-between; }
    .u-ac-#{$bp}-sa { align-content: space-around; }
    .u-ac-#{$bp}-s  { align-content: stretch; }
    .u-ai-#{$bp}-fs { align-items: flex-start; }
    .u-ai-#{$bp}-fe { align-items: flex-end; }
    .u-ai-#{$bp}-s  { align-items: stretch; }
    .u-ai-#{$bp}-c  { align-items: center; }
    .u-ai-#{$bp}-b  { align-items: baseline; }
    .u-as-#{$bp}-fs { align-self: flex-start; }
    .u-as-#{$bp}-fe { align-self: flex-end; }
    .u-as-#{$bp}-s  { align-self: stretch; }
    .u-as-#{$bp}-c  { align-self: center; }
    .u-as-#{$bp}-b  { align-self: baseline; }
}
}

//     .flex-row { flex-direction: row !important; }
//     .flex-column { flex-direction: column !important; }
//     .flex-row-reverse { flex-direction: row-reverse !important; }
//     .flex-column-reverse { flex-direction: column-reverse !important; }
//     .flex-wrap { flex-wrap: wrap !important; }
//     .flex-nowrap { flex-wrap: nowrap !important; }
//     .flex-wrap-reverse { flex-wrap: wrap-reverse !important; }
//     .flex-fill { flex: 1 1 auto !important; }
//     .justify-content-start { justify-content: flex-start !important; }
//     .justify-content-end { justify-content: flex-end !important; }
//     .justify-content-center { justify-content: center !important; }
//     .justify-content-between { justify-content: space-between !important; }
//     .justify-content-around { justify-content: space-around !important; }
//     .align-items-start { align-items: flex-start !important; }
//     .align-items-end { align-items: flex-end !important; }
//     .align-items-center { align-items: center !important; }
//     .align-items-baseline { align-items: baseline !important; }
//     .align-items-stretch { align-items: stretch !important; }
//     .align-content-start { align-content: flex-start !important; }
//     .align-content-end { align-content: flex-end !important; }
//     .align-content-center { align-content: center !important; }
//     .align-content-between { align-content: space-between !important; }
//     .align-content-around { align-content: space-around !important; }
//     .align-content-stretch { align-content: stretch !important; }
//     .align-self-auto { align-self: auto !important; }
//     .align-self-start { align-self: flex-start !important; }
//     .align-self-end { align-self: flex-end !important; }
//     .align-self-center { align-self: center !important; }
//     .align-self-baseline { align-self: baseline !important; }
//     .align-self-stretch { align-self: stretch !important; }

// @each $bp in $bps {
// @include media(#{$bp}) {
//     .flex-#{$bp}-row { flex-direction: row !important; }
//     .flex-#{$bp}-column { flex-direction: column !important; }
//     .flex-#{$bp}-row-reverse { flex-direction: row-reverse !important; }
//     .flex-#{$bp}-column-reverse { flex-direction: column-reverse !important; }
//     .flex-#{$bp}-wrap { flex-wrap: wrap !important; }
//     .flex-#{$bp}-nowrap { flex-wrap: nowrap !important; }
//     .flex-#{$bp}-wrap-reverse { flex-wrap: wrap-reverse !important; }
//     .flex-#{$bp}-fill { flex: 1 1 auto !important; }
//     .justify-content-#{$bp}-start { justify-content: flex-start !important; }
//     .justify-content-#{$bp}-end { justify-content: flex-end !important; }
//     .justify-content-#{$bp}-center { justify-content: center !important; }
//     .justify-content-#{$bp}-between { justify-content: space-between !important; }
//     .justify-content-#{$bp}-around { justify-content: space-around !important; }
//     .align-items-#{$bp}-start { align-items: flex-start !important; }
//     .align-items-#{$bp}-end { align-items: flex-end !important; }
//     .align-items-#{$bp}-center { align-items: center !important; }
//     .align-items-#{$bp}-baseline { align-items: baseline !important; }
//     .align-items-#{$bp}-stretch { align-items: stretch !important; }
//     .align-content-#{$bp}-start { align-content: flex-start !important; }
//     .align-content-#{$bp}-end { align-content: flex-end !important; }
//     .align-content-#{$bp}-center { align-content: center !important; }
//     .align-content-#{$bp}-between { align-content: space-between !important; }
//     .align-content-#{$bp}-around { align-content: space-around !important; }
//     .align-content-#{$bp}-stretch { align-content: stretch !important; }
//     .align-self-#{$bp}-auto { align-self: auto !important; }
//     .align-self-#{$bp}-start { align-self: flex-start !important; }
//     .align-self-#{$bp}-end { align-self: flex-end !important; }
//     .align-self-#{$bp}-center { align-self: center !important; }
//     .align-self-#{$bp}-baseline { align-self: baseline !important; }
//     .align-self-#{$bp}-stretch { align-self: stretch !important; }
// }
// }

