@charset "utf-8";
@import "../../../modules/import";

/*
 *float_clearFix
 */
.clearfix {
    *zoom: 1;/* display: flow-root; */
    &:after {content: "";display: block;clear: both;}
}
/*
 *float and clear
 */
    .u-fl-n { float: none !important; }
    .u-fl-l { float: left !important; }
    .u-fl-r { float: right !important; }
    .u-cl_n { clear: none !important; }
    .u-cl_l { clear: left !important; }
    .u-cl_r { clear: right !important; }
    .u-cl_b { clear: both !important; }
@each $bp in $bps {
@include media(#{$bp}) {
    .u-fl-#{$bp}-n { float: none !important; }
    .u-fl-#{$bp}-l { float: left !important; }
    .u-fl-#{$bp}-r { float: right !important; }
    .u-cl-#{$bp}_n { clear: none !important; }
    .u-cl-#{$bp}_l { clear: left !important; }
    .u-cl-#{$bp}_r { clear: right !important; }
    .u-cl-#{$bp}_b { clear: both !important; }
}
}
