@charset "utf-8";
@import "../../../modules/import";

/*
 * font-size
 */
@for $i from 8 through 48 {
    .u-fs#{$i} { font-size: $i * .1rem !important; }
}
.u-fs {
    &xxs { font-size: xx-small; }
    &xs  { font-size: x-small; }
    &s   { font-size: small; }
    &m   { font-size: medium; }
    &l   { font-size: large; }
    &xl  { font-size: x-large; }
    &xxl { font-size: xx-large; }
}
//text-indent minus
@for $i from 0 through 9 {
    $spacing: $i * -0.1em ;
    $tmp: "0#{$i}";
    .u-tim#{$tmp} { text-indent: $spacing !important; }
}
@for $i from 10 through 20 {
    $spacing: $i * -0.1em ;
    .u-tim#{$i}   { text-indent: $spacing !important; }
}
