@charset "utf-8";
@import "../../../modules/import";

/*
 * margin
 */
    .u-ma { margin-right: auto; margin-left: auto; }
    .u-mt--gutter, .u-my--gutter { margin-top:    ($gutter * 0.5); }
    .u-me--gutter, .u-mx--gutter { margin-right:  ($gutter * 0.5); }
    .u-mb--gutter, .u-my--gutter { margin-bottom: ($gutter * 0.5); }
    .u-ml--gutter, .u-mx--gutter { margin-left:   ($gutter * 0.5); }
@for $i from 0 through 12 {
    $spacing: 5;
    .u-mt#{$i * $spacing},.u-my#{$i * $spacing} { margin-top:    (1px * $spacing) * $i !important; }
    .u-mr#{$i * $spacing},.u-mx#{$i * $spacing} { margin-right:  (1px * $spacing) * $i !important; }
    .u-mb#{$i * $spacing},.u-my#{$i * $spacing} { margin-bottom: (1px * $spacing) * $i !important; }
    .u-ml#{$i * $spacing},.u-mx#{$i * $spacing} { margin-left:   (1px * $spacing) * $i !important; }
}
