@charset "utf-8";
@import "../../../modules/import";

/*
 * padding
 */
    .u-pt--gutter, .u-py--gutter, .u-pa--gutter { padding-top:    ($gutter * 0.5); }
    .u-pr--gutter, .u-px--gutter, .u-pa--gutter { padding-right:  ($gutter * 0.5); }
    .u-pb--gutter, .u-py--gutter, .u-pa--gutter { padding-bottom: ($gutter * 0.5); }
    .u-pl--gutter, .u-px--gutter, .u-pa--gutter { padding-left:   ($gutter * 0.5); }
@for $i from 0 through 12 {
    $spacing: 5;
    .u-pt#{$i * $spacing}, .u-py#{$i * $spacing}, .u-pa#{$i * $spacing} { padding-top:    (1px * $spacing) * $i !important; }
    .u-pr#{$i * $spacing}, .u-px#{$i * $spacing}, .u-pa#{$i * $spacing} { padding-right:  (1px * $spacing) * $i !important; }
    .u-pb#{$i * $spacing}, .u-py#{$i * $spacing}, .u-pa#{$i * $spacing} { padding-bottom: (1px * $spacing) * $i !important; }
    .u-pl#{$i * $spacing}, .u-px#{$i * $spacing}, .u-pa#{$i * $spacing} { padding-left:   (1px * $spacing) * $i !important; }
}
