@charset "utf-8";
@import "../../../modules/import";

/*
 * text-align
 */
    .u-ta-l { text-align: left !important; }
    .u-ta-c { text-align: center !important; }
    .u-ta-r { text-align: right !important; }
    .u-ta-j { text-align: justify !important; }
    .u-va-sup { vertical-align: super !important; }
    .u-va-t   { vertical-align: top !important; }
    .u-va-tt  { vertical-align: text-top !important; }
    .u-va-m   { vertical-align: middle !important; }
    .u-va-bl  { vertical-align: baseline !important; }
    .u-va-tb  { vertical-align: text-bottom !important; }
    .u-va-b   { vertical-align: bottom !important; }
    .u-va-sub { vertical-align: sub !important; }

@each $bp in $bps {
@include media(#{$bp}) {
    .u-ta-#{$bp}-l { text-align: left !important; }
    .u-ta-#{$bp}-c { text-align: center !important; }
    .u-ta-#{$bp}-r { text-align: right !important; }
    .u-ta-#{$bp}-j { text-align: justify !important; }
    .u-va-#{$bp}-sup { vertical-align: super !important; }
    .u-va-#{$bp}-t   { vertical-align: top !important; }
    .u-va-#{$bp}-tt  { vertical-align: text-top !important; }
    .u-va-#{$bp}-m   { vertical-align: middle !important; }
    .u-va-#{$bp}-bl  { vertical-align: baseline !important; }
    .u-va-#{$bp}-tb  { vertical-align: text-bottom !important; }
    .u-va-#{$bp}-b   { vertical-align: bottom !important; }
    .u-va-#{$bp}-sub { vertical-align: sub !important; }
}
}
