<template>
  <div id="top" class="l-wrapper">
    <l-header></l-header>
    <main class="g-main">
      <div class="l-main">
        <nuxt/>
      </div>
    </main>
    <l-footer></l-footer>
  </div>
</template>

<script>
import  LHeader from '~/components/layouts/header'
import  LFooter from '~/components/layouts/footer'

export default {
  components: {
    LHeader,
    LFooter,
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }
}
</script>
