@charset "utf-8";
@import "../../../modules/import";

.breadcrumb {
    &s {
        padding-bottom: $gutter * 1;
    }
    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: $containerWidth;
        margin-right: auto;
        margin-left:  auto;
        padding: $gutter * 0.5;
        font-size: 1.0rem;
        line-height: 1;
    }
    &__item {
        & + &::before {
            content: "\e649";
            margin: 0 5px;
            font-family: 'themify';
            font-size: 1.0rem;
        }
    }
    &__lnk {
        &:hover {
            text-decoration: underline;
            color: $navmain;
        }
    }

    @include media(md) {
        &s {
            padding-top:    $gutter * 0.5;
            padding-bottom: $gutter * 1;
        }
        &__items {
            font-size: 1.2rem;
        }
    }
}
