@charset "utf-8";
@import "../../../modules/import";

%btn-base {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 269px;
    max-width: 100%;
    height: 44px;
    margin: 0 auto;
    border: 0;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    -webkit-user-select: none;
    outline-width: 0;

    background-color: #fff;

    @include media(md) {
        width: 290px;
        height: 57px;
    }

    [class*="ti"] {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    .ti-angle-right,
    .ti-angle-down {
        right: 7px;
    }
    .ti-angle-left {
        left: 7px;
    }
}

/* btn-basic */
.btn-basic {
    @extend %btn-base;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    color: #000;
    transition: background .3s;
    &:hover {
        background-color: #000;
        color: #fff;
    }
    &--blue {
        @extend %btn-base;
        border-color: #007aaa;
        color: #007aaa;
        &:hover {
            background-color: #007aaa;
            color: #fff;
        }
    }
    &--blue2 {
        @extend %btn-base;
        border-color: #386ec5;
        color: #386ec5;
        &:hover {
            background-color: #386ec5;
            color: #fff;
        }
    }
    &--green {
        @extend %btn-base;
        border-color: #60b636;
        color: #60b636;
        &:hover {
            background-color: #60b636;
            color: #fff;
        }
    }
    &--green2 {
        @extend %btn-base;
        border-color: #00a4aa;
        color: #00a4aa;
        &:hover {
            background-color: #00a4aa;
            color: #fff;
        }
    }
}

//type
%btn-type {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    line-height: 1;
    border-width: 2px;
    border-style: solid;
    transition: background .3s;
    @include media(md) {
        height: 57px;
    }
    &:hover {
        color: $white;
        &::after {
            background-color: $white;
        }
    }
    &::after {
        content:"\f107";
        position: absolute;
        top: 0;
        right: 1em;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width:  1.8rem;
        height: 1.8rem;
        margin: auto;
        border-radius: 50%;
        font-size: 1.4rem;
        @include fontAwesome;
        color: #fff;
    }
    span {
        display: none !important;
    }
}

@each $name, $value in $themeColors {
    .btn-type--#{$name} {
        @extend %btn-type;
        border-color: $value;
        color: $value;
        &:hover {
            background-color: $value;
            &::after {
                color: $value;
            }
        }
        &::after {
            background-color: $value;
        }
    }
}

.btn-category1 {
    @extend .btn-type--blue;
}
.btn-category2 {
    @extend .btn-type--orange;
}
.btn-category3 {
    @extend .btn-type--green;
}

//button
.btn-form {
    &__posi,
    &__nega {
        @extend %btn-base;
        padding: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: #000;
        background-color: #fff;
        transition: all .3s;
        &:hover {
            color: #fff;
        }
        &::before,
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width:  1.8rem;
            height: 1.8rem;
            margin: auto;
            font-size: 1.4rem;
            @include fontAwesome;
        }
    }
    &__posi {
        border-color: $red;
        color: $red;
        &:hover {
            background-color: $red;
            &::after {
                color: $white;
            }
        }
        &::after {
            content:"\f105";
            right: 1em;
            color: $red;
        }
    }
    &__nega {
        border-color: $gray-6;
        color: $gray-6;
        &:hover {
            background-color: $gray-6;
            &::before {
                color: $white;
            }
        }
        &::before {
            content:"\f104";
            left: 1em;
            color: $gray-6;
        }
    }
    &__posi[disabled] {
        border-color: #eee;
        background-color: #eee;
        color: #fff;
        &::after {
            display: none;
        }
    }
}


/* button arrow
-------------------------------------------------- */
.arw-t::after,
.arw-r::after,
.arw-b::after,
.arw-l::before {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    @include fontAwesome;
}
.arw-t::after  { content:"\f106"; }
.arw-r::after  { content:"\f105"; }
.arw-b::after  { content:"\f107"; }
.arw-l::before { content:"\f104"; }
.arw-t::after,
.arw-r::after,
.arw-b::after {
    right: 0.75rem;
}
.arw-l::before {
    left:  0.75rem;
}
