@charset "utf-8";
@import "../../../modules/import";

.crd {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - #{$gutter / 2});
    margin-bottom: $gutter / 2;
    background-color: #fff;
    &__img {
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #000;
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        height: 100%;
        min-height: 0;
        padding: $gutter / 2;
    }
    &__img {
        /*padding-top: 33.3333%;*/ /* 3:1 */
        /*padding-top: 40%;*/      /* 5:2 */
        /*padding-top: 50%;*/      /* 2:1 */
        /*padding-top: 56.25%;*/   /* 16:9; */
        padding-top: 66.66667%;    /* 3:2 */
        /*padding-top: 75%;*/      /* 4:3 */
        /*padding-top: 200%;*/     /* 1:2 */
    }
    &__ttl {
        margin-bottom: 8px;
        font-size: 1.6rem;
        font-weight: 400;
    }
    &__txt {
        margin-bottom: $gutter / 2;
        line-height: 2;
    }
    &__lnk {
        margin-top: auto;
    }
    @include media(sm) {
        &__img {
            /*padding-top: 33.3333%;*/   /* 3:1 */
            /*padding-top: 40%;*/        /* 5:2 */
            /*padding-top: 50%;*/        /* 2:1 */
            /*padding-top: 56.25%;*/     /* 16:9; */
            padding-top: 66.66667%;      /* 3:2 */
            /*padding-top: 75%;*/        /* 4:3 */
            /*padding-top: 200%;*/       /* 1:2 */
        }
        &__ttl {
            margin-bottom: $gutter / 2;
            font-size: 1.8rem;
        }
    }
    @include media(md) {
        height: 100%;
        margin-bottom: 0;
        &__content {
            padding: $gutter;
        }
    }
}
