@charset "utf-8";
@import "../../../modules/import";

@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');
/*@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
/*@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');*/
/*@import url('https://fonts.googleapis.com/css?family=Droid+Serif');*/

/*@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/NotoSansJP-Thin.woff2) format('woff2'),
         url(../fonts/NotoSansJP-Thin.woff) format('woff'),
         url(../fonts/NotoSansJP-Thin.otf) format('opentype');
}*/
/*@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/NotoSansJP-Light.woff2) format('woff2'),
         url(../fonts/NotoSansJP-Light.woff) format('woff'),
         url(../fonts/NotoSansJP-Light.otf) format('opentype');
}*/
/*@font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 300;
     src: url(../fonts/NotoSansJP-DemiLight.woff2) format('woff2'),
          url(../fonts/NotoSansJP-DemiLight.woff) format('woff'),
          url(../fonts/NotoSansJP-DemiLight.otf) format('opentype');
}*/
@font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: local("Noto Sans CJK JP Regular"),
          url(../fonts/NotoSansJP-Regular.woff2) format('woff2'),
          url(../fonts/NotoSansJP-Regular.woff) format('woff'),
          url(../fonts/NotoSansJP-Regular.otf) format('opentype');
 }
@font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src: local("Noto Sans CJK JP Medium"),
          url(../fonts/NotoSansJP-Medium.woff2) format('woff2'),
          url(../fonts/NotoSansJP-Medium.woff) format('woff'),
          url(../fonts/NotoSansJP-Medium.otf) format('opentype');
 }
@font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: local("Noto Sans CJK JP Bold"),
          url(../fonts/NotoSansJP-Bold.woff2) format('woff2'),
          url(../fonts/NotoSansJP-Bold.woff) format('woff'),
          url(../fonts/NotoSansJP-Bold.otf) format('opentype');
 }
@font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 900;
     font-display: swap;
     src: local("Noto Sans CJK JP Black"),
          url(../fonts/NotoSansJP-Black.woff2) format('woff2'),
          url(../fonts/NotoSansJP-Black.woff) format('woff'),
          url(../fonts/NotoSansJP-Black.otf) format('opentype');
 }

.u-ff-noto { font-family: "Noto Sans Japanese", sans-serif; }
.u-ff-yugo { font-family:"游ゴシック","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic","メイリオ",Meiryo,sans-serif; }
.u-ff-lato { font-family: Lato, sans-serif; }
.u-ff-roboto { font-family: 'Roboto', sans-serif}
.u-ff-catamaran { font-family: 'Catamaran', sans-serif }
.u-ff-fjalla { font-family: 'Fjalla One',sans-serif; letter-spacing: 1px; }
.u-ff-oswald { font-family: "Oswald",sans-serif; }
