@charset "utf-8";
@import "../../../modules/import";

//共通設定
.frm-basic {
    input[type="text"],
    textarea,
    select,
    select > option {
        border: 1px solid #ddd;
        font-size: 1.4rem;
        &:focus {
        border-color: #999;
        }
    }
    label {
        display: inline-block;
    }
    & &__zip {
        width: 8em;
    }
    & &__inpAge {
        width: 4.5em;
    }
    & &__issue--others {
        width: 60%;
        margin-left: 1em;
    }
    &__items--hol {
        display: flex;
        flex-wrap: wrap;
        li + li {
        margin-left: $gutter;
        }
    }
}

.frm-basic {
    margin-top: $gutter * 0.5;
}
/* 規約 */
.frm-rules {
    margin: ($gutter / 2) auto 0 auto;
    text-align: center;
    &__body {
        font-size: 1.2rem;
    }
}
/* ボタン */
.frm-button {
    width: auto;
    margin: ($gutter * 1) auto;
    font-size: 1.6rem;
    text-align: center;
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__item {
        padding: $gutter * 0.25;
    }
    .frm-rules + & {
        margin-top: ($gutter * 0.5);
    }
}
@include media(md) {
    .frm-basic {
        margin-top: $gutter * 1;
    }
    .frm-rules {
        margin: ($gutter * 2) auto 0 auto;
    }
    .frm-button {
        margin: ($gutter * 1) auto ($gutter * 4);
        &__items {
           flex-direction: row-reverse;
            margin-right: $gutter * -0.5;
            margin-left:  $gutter * -0.5;
        }
        &__item {
            padding: $gutter * 0.5;
        }
    }
}
