@charset "utf-8";
@import "../../../modules/import";

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
//headings
    .hdg-1 { font-size: 3.2rem; }
    .hdg-2 { font-size: 2.4rem; }
    .hdg-3 { font-size: 2.0rem; }
    .hdg-4 { font-size: 1.8rem; }
    .hdg-5 { font-size: 1.6rem; }
    .hdg-6 { font-size: 1.4rem; }
    .hdg-7 { font-size: 1.2rem; }
    .hdg-8 { font-size: 1.1rem; }
@include media(md) {
    .hdg-1 { font-size: 3.6rem; }
    .hdg-2 { font-size: 3.2rem; }
    .hdg-3 { font-size: 2.7rem; }
    .hdg-4 { font-size: 2.4rem; }
    .hdg-5 { font-size: 1.8rem; }
    .hdg-6 { font-size: 1.6rem; }
    .hdg-7 { font-size: 1.4rem; }
    .hdg-8 { font-size: 1.2rem; }
}
@include media(ll) {
    .hdg-1 { font-size: 4.8rem; }
    .hdg-2 { font-size: 3.6rem; }
    .hdg-3 { font-size: 3.2rem; }
    .hdg-4 { font-size: 2.4rem; }
    .hdg-5 { font-size: 2.0rem; }
    .hdg-6 { font-size: 1.8rem; }
    .hdg-7 { font-size: 1.6rem; }
    .hdg-8 { font-size: 1.2rem; }
}
