@charset "utf-8";
@import "../../../modules/import";

//type
%lbl-type {
    padding: .5em .75em;
    line-height: 1.0;
    display: inline-block;
    font-size: 80%;
    text-align: center;
    text-decoration: none !important;
    background-color: map-get($themeColors,red);
}
@each $name, $value in $themeColors {
    .lbl-type--#{$name} {
        @extend %lbl-type;
        border-color: $value;
        color: $white;
    }
}

.lbl-type1,.lbl-taggroup1 { @extend .lbl-type--blue; }
.lbl-type2,.lbl-taggroup2 { @extend .lbl-type--orange; }
.lbl-type3,.lbl-taggroup3 { @extend .lbl-type--green; }
.lbl-type4,.lbl-taggroup4 { @extend .lbl-type--cyan; }


//label
%frm-lbl {
    display: block;
    float: left;
    width: 4em;
    margin: .25em .50em 0;
    padding: 0.5rem;
    border-radius: 0.25em;
    font-size: 1.1rem;
    line-height: 1.2;
    text-align: center;
    @media screen and (min-width: 992px) {
        float: right;
    }
}
.lbl-require {
    @extend %frm-lbl;
    background-color: #c00;
    color: #fff;
}
.lbl-anyitem {
    @extend %frm-lbl;
    background-color: #666;
    color: #fff;
}
