@charset "utf-8";
@import "../../../modules/import";

.lnk-none {
    text-decoration: none !important;
    color: inherit!important
}
.lnk-tel {
    pointer-events: auto;
}
.lnk-fax {
    pointer-events: none;
}
.lnk-bdr {
    border-bottom: 1px solid map-get($themeColors,blue);
    color: map-get($themeColors,blue);
}
.lnk-txt {
    display: inline;
    color: map-get($themeColors,blue);
    transition: .3s;
    [class*="ti-"] {
        margin-left: 5px;
        font-size: 1.1rem;
    }
}
@include media(md) {
    .lnk-tel {
        display: inline-flex;
        pointer-events: none;
    }
    .lnk-txt {
        .js-lnkBox.is-active &,
        &:hover {
            color: map-get($themeColors,orange);
        }
    }
    .lnk-bdr:hover {
        border-bottom: 1px solid transparent;
    }
}
