@charset "utf-8";
@import "../../../modules/import";

// btn
.lst-btn {
    margin-top: $gutter;
    margin-right: $gutter * -0.5;
    margin-left:  $gutter * -0.5;
    @include media(md) {
        margin-top: $gutter * 1.5;
    }
    &__items,
    &__item {
        padding: $gutter * 0.25;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__item {
        flex-basis: 50%;
        &--w20per {
            padding: $gutter * 0.25;
            flex-basis: 20%;
        }
        &--w25per {
            padding: $gutter * 0.25;
            flex-basis: 25%;
        }
        &--w33per {
            padding: $gutter * 0.25;
            flex-basis: 33.3%;
        }
        &--w100per {
            padding: $gutter * 0.25;
            flex-basis: 100%;
        }
    }
}

//taggroup
.lst-taggroup {
    &__item {
        margin-top: $gutter * 0.5;
        margin-right: $gutter * 0.5;
    }
}

//newsList
.lst-newsList {
    &__date {
        color: map-get($baseColors,gray);
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1;
        display: inline-block;
        margin-bottom: 10px;
        padding-top: 30px;
        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
        }
    }
    &__lnk {
        display: block;
        padding-bottom: $gutter * 1;
        border-bottom: 1px solid #e7e7e7;
        transition: .3s;
    }
    @include media(ll) {
        margin-bottom: $gutter * 2;
        &__date {
            margin-bottom: 15px;
        }
        &__lnk:hover {
            color: map-get($themeColors,blue);
            border-bottom: 1px solid map-get($themeColors,blue);
        }

    }
}
