@charset "utf-8";
@import "../../../modules/import";

[class*="mda-"] figure + figcaption {
    margin-top: 20px;
}

.mda-bottom {
    margin: ($gutter * 1) auto ($gutter * 2);
}
@include media(md) {
    .mda-bottom {
        margin: ($gutter * 2) auto ($gutter * 3.2);
    }
}