@charset "utf-8";
@import "../../../modules/import";

//scroll
%box-scroll {
    height: 17em;
    background-color: #f7f7f7;
    overflow-y: auto;
    font-size: 1.2rem;
}
.box-scroll {
    @extend %box-scroll;
    &--comment {
        @extend %box-scroll;
        padding: $gutter / 2;
    }
    @include media(md) {
        &--comment {
            padding: $gutter * 1;
        }
    }
}

//highlight
%box-highlight {
    background-color: #f7f9fb;
    padding: $gutter / 2;
    @include media(md) {
        padding: $gutter * 1;
    }
}
%box-highlight__parts {
    background-color: none;
    padding: 0;
    @include media(md) {
    }
    .box-scroll & {
        background-color: #fff;
        padding: $gutter / 2;
    }
}
.box-highlight {
    @extend %box-highlight;
    &--gray  {
        @extend %box-highlight;
        background-color: #eee;
    }
    &--white {
        @extend %box-highlight;
        background-color: #fff;
    }
    &__tit {
        @extend %box-highlight__parts;
        margin-bottom: .333em;
        font-size: 1.4rem;
        font-weight: 700;
        @include media(md) {
            margin-bottom: .666em;
            font-size: 1.6rem;
        }
    }
}


/* tab */
.tab-basic {
    display: flex;
    margin-bottom: $gutter * 1;
    // tab
    &__item {
        position: relative;
        width: 50%;
        padding-bottom: 20px;
        font-size: 1.2rem;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
        color: map-get($baseColors,gray);
        outline-width: 0;
        cursor: pointer;
        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 0;
            background-color: map-get($themeColors,orange);
            position: absolute;
            bottom: -1px;
            right: 0;
            left: 0;
            transition: .3s;
        }
        &.is-active {
            color: map-get($themeColors,orange);
            &::after {
                width: 100%;
            }
        }
    }
    // content
    &__content,
    &__content--scroll {
        display: none;
        /* margin-top: 5.55556%; */
        &.is-active {
            display: block;
        }
    }
    &__content--scroll {
        overflow-y: scroll;
        height: 240px;
    }
}
@include media(ll) {
    // news__tab
    .tab__item {
        font-size: 1.4rem;
    }
}
