@charset "utf-8";
@import "../../../modules/import";

/* nav-category */
.nav-category {
    display: block;
    &__item {
        margin-bottom: 10px;
    }
    @include media(md) {
        &__items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            margin-right: -10px;
            margin-left:  -10px;
        }
        &__item {
            width: calc(100% / 2);
            margin-bottom: 0;
            padding: 10px;
        }
    }
    @include media(lg) {
        &__items {
            margin-right: $gutter * -0.5;
            margin-left:  $gutter * -0.5;
        }
        &__item {
            width: calc(100% / 3);
            padding: $gutter / 2;
        }
    }
}
