@charset "utf-8";
@import "../../../modules/_import";

.pagination {
    font-size: 92%;
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: $gutter * 1;
    }
    &__item {
        padding: 0.25em;
        &--prev.current,
        &--next.current {
            visibility: hidden;
            display: block;
        }
        &--prev {
            justify-self: flex-start;
            margin-right: auto;
            margin-left: 0;
            a:after { display: none; }
        }
        &--next {
            justify-self: flex-end;
            margin-right: 0;
            margin-left: auto;
            a:before { display: none; }
        }
    }
    &__arw {
        display: flex;
        justify-content: center;
        align-items: center;
        width:  2em;
        height: 2em;
        line-height: 1;
        background-color: map-get($protoColors,2);
        color: $white;
        &::before {
            content: '\e64a';
            font-family: 'themify';
        }
        &--txt {
            display: none;
        }
        &::after {
            content: '\e649';
            font-family: 'themify';
        }
    }
    &__lnk {
        position: relative;
        &::after,
        &::before {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
        }
        &::after {
            font-size: 1.4rem;
        }
        &::before {
            font-size: 1.2rem;
        }
        &:hover::after,
        &:hover::before,
        &:hover::after,
        &:hover::before {
            color: #fff;
        }
    }
    &__txt {
        display: flex;
        justify-content: center;
        align-items: center;
        width:  2em;
        height: 2em;
        line-height: 1;
        border: 1px solid map-get($protoColors,2);
        a & {
            background-color: map-get($protoColors,2);
            color: $white;
        }
    }
}
