@charset "utf-8";
@import "../../../modules/import";

%paragrah {
    padding-top: $gutter / 4;
    p + p {
        margin-top: 1.4rem;
    }
    @include media(md) {
        padding-top: $gutter / 2;
    }
}
$sizes: xl, l, m, s, xs;
@each $size in $sizes {
    .prg-#{$size} {
        @extend %paragrah;
    }
}

.prg-xl { font-size: 2.0rem; line-height: 1.2; }
.prg-l  { font-size: 1.8rem; line-height: 1.2; }
.prg-m  { font-size: 1.5rem; line-height: 1.8; }
.prg-s  { font-size: 1.3rem; line-height: 1.8; }
.prg-xs { font-size: 1.1rem; line-height: 1.5; }
@include media(sm-max) {
    .prg-xl { font-size: 1.8rem; line-height: 1.2; }
    .prg-l  { font-size: 1.5rem; line-height: 1.2; }
    .prg-m  { font-size: 1.3rem; line-height: 1.8; }
    .prg-s  { font-size: 1.0rem; line-height: 1.8; }
    .prg-xs { font-size: 0.8rem; line-height: 1.5; }
}
@include media(md) {
    .prg-xl { font-size: 1.8rem; line-height: 1.2; }
    .prg-l  { font-size: 1.6rem; line-height: 1.5; }
    .prg-m  { font-size: 1.4rem; line-height: 1.8; }
    .prg-s  { font-size: 1.3rem; line-height: 1.8; }
    .prg-xs { font-size: 1.1rem; line-height: 1.5; }
}
@include media(lg) {
    .prg-xl { font-size: 2.4rem; }
    .prg-l  { font-size: 1.8rem; }
    .prg-m  { font-size: 1.6rem; }
    .prg-s  { font-size: 1.4rem; }
    .prg-xs { font-size: 1.1rem; line-height: 1.5; }
}
