@charset "utf-8";
@import "../../../modules/import";

.tbl-basic,
.tbl-basic--column {
    &__table,
    &__th,
    &__td {
        font-size: 1.2rem;
        border-color: #bfbfbf;
        border-style: solid;
    }
    &__table {
        width: 100%;
        border-width: 0 1px 1px 0;
    }
    &__th,
    &__td {
        padding: $gutter / 4;
        border-width: 1px 0 0 1px;
    }
    &__th {
        background-color: #efefef;
        width: 30%;
        font-weight: 500;
    }
    &__cap {
        font-weight: bold;
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
}
.tbl-basic {
    &__table,
    &__thead,
    &__tbody,
    &__tfoot,
    &__tr,
    &__td,
    &__th {
        display: block;
        width: 100%;
    }
}
.tbl-basic--column {
    &__table {
        border-top: none;
    }
    &__th,
    &__td {
        display: block;
        width: 100%;
        word-break: break-all;
    }
    &__th {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    &__td {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}

@include media(md) {
    .tbl-basic,
    .tbl-basic--column {
        &__cap {
            font-size: 1.6rem;
        }
        &__th,
        &__td {
            padding: $gutter / 2;
            font-size: 1.4rem;
        }
    }
    .tbl-basic {
        &__table {
            display: table;
        }
        &__thead {
            display: table-header-group
        }
        &__tbody {
            display: table-row-group
        }
        &__tfoot {
            display: table-footer-group
        }
        &__tr {
            display: table-row;
        }
        &__td {
            display: table-cell;
            width: 70%;
        }
        &__th {
            display: table-cell;
            width: 30%;
        }
    }
    .tbl-basic--column {
        &__th,
        &__td {
            display: table-cell;
        }
        &__th {
            width: 30%;
            border-bottom: 1px solid #bfbfbf;
        }
        &__td {
            border-right: 1px solid #bfbfbf;
            border-left:  1px solid #bfbfbf;
        }
    }
}
