@charset "utf-8";
@import "../../../modules/import";

.ttl-pageHeader {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
    }
}

[class*="ttl-"][class*="--lv"] + *,
[class*="ttl-"][class*="--lv"] + section > [class*="ttl-"][class*="--lv"] {
    margin-top: 0 !important;
}

@mixin marginLv($align) {
    &--lv1 {
        margin-bottom: 20px;
        text-align: $align;
    }
    &--lv2 {
        margin-top: 60px;
        margin-bottom: 15px;
        text-align: $align;
    }
    &--lv3 {
        margin-top: 32px;
        margin-bottom: 12px;
        text-align: $align;
    }
    &--lv4 {
        margin-bottom: 12px;
        text-align: $align;
    }
    &--lv5 {
        margin-bottom: 10px;
        text-align: $align;
    }
    @include media(md) {
        &--lv1 {
            margin-bottom: 35px;
        }
        &--lv2 {
            margin-top: 90px;
            margin-bottom: 25px;
        }
        &--lv3 {
            margin-top: 45px;
            margin-bottom: 10px;
        }
        &--lv4 {
            margin-top: 30px;
            margin-bottom: 15px;
        }
        &--lv5 {
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
}


.ttl-center {
    text-align: center;
    @include marginLv(center);
    &__item {
        line-height: 1;
        font-weight: 400;
        & + &,
        .ttl-center__item--en + & {
            margin-top: 10px;
        }
    }
    &__item--en {
        letter-spacing: .14em;
        line-height: 1;
        font-weight: 400;
        font-family: 'Catamaran', sans-serif;
        & + &,
        .ttl-center__item + & {
            margin-top: 10px;
        }
    }
}
