@charset "utf-8";
@import "modules/import";
/*====================================================================================
■00.ContentPAGE
 ├ _01_1 layout
 |             1-1. #l-pageHeader
 └ _01_2 ***
■02.page-news
 ├ _04_1 common
 ├ _04_2 list
 └ _04_3 detail
■03.page-development
 ├ _04_1 common
 ├ _04_2 list
 └ _04_3 detail
■04.page-tab

■**.page-***
 ├ _**_1 common
 ├ _**_2 list
 └ _**_3 detail


====================================================================================*/
/*====================================================================================
■00.Content PAGE
====================================================================================*/
/* -----------------------------------------------
/* _01_1 layout
-------------------------------------------------- */
/* 1-1. #l-pageHeader
-------------------------------------------------- */
.pageHeader {
    height: 160px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
@include media(md) {
    .pageHeader {
        height: 340px;
    }
}


/* 1-2. ***
-------------------------------------------------- */


/*====================================================================================
■02.page-news
====================================================================================*/
@import "partials/content/_news";


/*====================================================================================
■03.page-development
====================================================================================*/
@import "partials/content/_development";


/*====================================================================================
■04.page-tab
====================================================================================*/
@import "partials/content/_tab";