@charset "utf-8";
@import "modules/import";

/*====================================================================================
■00.Object
 ├ _00_1 layout
 ├ _00_2 animation
 └ _00_3 OverLayerConfig
■01.page-index

====================================================================================*/
/*====================================================================================
■00.Object
====================================================================================*/
/* _00_1 layout
-------------------------------------------------------------------- */
.page-index {}

/* _00_2 animation
-------------------------------------------------------------------- */
.page-index {}

/* _00_3 OverLayerConfig
-------------------------------------------------------------------- */
.page-index {}

/*====================================================================================
■01.page-index
====================================================================================*/
/* ---------------------------------------------------------------------------------------------------------
content_Layout

_00. common
_01. mainImg
_02. hoge
_03. news
_0*. ***
 ├ _0*_* ***
 ├ _0*_* ***
 └ _0*_* ***

 */

/* -----------------------------------------------------------------------------------
_00. common
----------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
_01. mainImg
----------------------------------------------------------------------------------- */
.mainImgWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.mainImg {
    overflow: hidden;
    width: 100%;
    height: 42vh;
    position: relative;
    background-color: #f3f3f3;
}
[class*="mainImg__img"] {
    width: 100%;
    display: none;
}
// .mainImg__img--320 {
//     display: block;
// }
// @include media(ss) {
//     .mainImg__img--320 {
//         display: none;
//     }
//     .mainImg__img--375 {
//         display: block;
//     }
// }
// @media (min-width: 414px) {
//     .mainImg__img--375 {
//         display: none;
//     }
//     .mainImg__img--414 {
//         display: block;
//     }
// }
// @include media(md) {
//     .mainImg__img--414 {
//         display: none;
//     }
//     .mainImg__img--768 {
//         display: block;
//     }
// }
@include media(ll) {
  .mainImgWrap {
      margin-bottom: 60px;
  }
    .mainImg__img--768 {
        display: none;
    }
    .mainImg {
        // background: url(../images/mainImg--1025.png) no-repeat center center;
        // -webkit-background-size: cover;
        // background-size: cover;
        height: 512px;
    }
}

.mainTxt {
    font-weight: 900;
    font-size: 2.9rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.mainTxt__lg {
    position: relative;
    letter-spacing: 4px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 2.4rem;
}
.mainTxt__sm {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.5;
}
@include media(ss) {
  .mainTxt__lg {
    font-size: calc(2.4rem + ((1vw - 3.2px) * 1.1364));
  }
  .mainTxt__sm {
    font-size: calc(1.6rem + ((1vw - 3.2px) * 1.1364));
  }
}
@include media(ll) {
  .mainTxt__lg {
    font-size: 3.2rem;
    margin-bottom: 15px;
    line-height: 1;
  }
  .mainTxt__sm {
    font-size: 2.4rem;
    line-height: 1;
  }
}


/* -----------------------------------------------------------------------------------
_02. lede
----------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
_03. hoge
----------------------------------------------------------------------------------- */
.hogeWrap {
    background-color: #eee;
    padding-top: 45px;
    padding-bottom: 30px;
}

.hogeWrap .crd {
    background-color: rgba(255,255,255,0.9);
}

@include media(md) {
    .hogeWrap {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}


/* -----------------------------------------------------------------------------------
_05. news
----------------------------------------------------------------------------------- */
