<template>
<div>
  <div class="mainImgWrap">
      <div class="mainImg">
          <div class="mainTxt">
              <span class="mainTxt__lg">キャッチコピーが入ります。</span>
              <span class="mainTxt__sm">Catch Copy</span>
          </div>
      </div>
      <!-- /.mainImg -->
  </div>

  <section id="lede">
    <div class="ledeWrap">
        <div class="l-container">
            <div class="row">
                <div class="col-12">
                    <div class="ttl-center--lv1">
                        <div class="hdg-4 ttl-center__item">
                            <h2>アペリーの定理</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="prg-s u-ta-c">
                        <p>リーマンのゼータ関数の偶数 2n (n > 0) における特殊値はベルヌーイ数を用いて表すことができ、したがって無理数であることが分かるのだが、<br class="disp-pc">奇数 2n + 1 (n > 0) において一般に有理数であるのか無理数であるのかは、無理数であると予想されてはいるが、未解決のままである。</p>
                        <p>アペリーはフランス人数学者で、当時隆盛を誇っていたブルバキとは独立にこの方法を開拓した。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="hoge">
    <div class="hogeWrap">
        <div class="l-container">
            <div class="row gutters-0">
                <div class="col-12 col-sm-4">
                    <a href="./" class="crd js-lnkBox">
                        <div class="crd__img" style="background-image: url(./images/sample1.jpg);"></div>
                        <div class="crd__content">
                            <h2 class="crd__ttl">フェルマー</h2>
                            <p class="crd__txt">フェルマーの最終定理は最初ピエール・ド・フェルマーによって1637年に予想された。</p>
                            <div class="crd__lnk lnk-txt">詳細はこちら<span class="ti-angle-right"></span></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a href="./" class="crd js-lnkBox">
                        <div class="crd__img" style="background-image: url(./images/sample2.jpg);"></div>
                        <div class="crd__content">
                            <h2 class="crd__ttl">ガウス</h2>
                            <p class="crd__txt">代数的整数論を創始した仕事の1つ、Disquisitiones Arithmeticae（ラテン語で「算術研究」）は、カール・フリードリヒ・ガウスによって1798年にラテン語で書かれた整数論の教科書である[4]．</p>
                            <div class="crd__lnk lnk-txt">詳細はこちら<span class="ti-angle-right"></span></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a href="./" class="crd js-lnkBox">
                        <div class="crd__img" style="background-image: url(./images/sample3.jpg);"></div>
                        <div class="crd__content">
                            <h2 class="crd__ttl">ガロア拡大での素イデアルの分解</h2>
                            <p class="crd__txt">数学において、代数体 K のガロア拡大 L のガロア群 G と整数環 OK の素イデアル P を OL の素イデアルの積として分解する方法との間の関係は、代数的整数論の最も豊かな部分のひとつとなっている。</p>
                            <div class="crd__lnk lnk-txt">詳細はこちら<span class="ti-angle-right"></span></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="news">
    <div class="newsWrap">
        <div class="l-container">
            <div class="row">
                <div class="col-12">
                    <div class="ttl-center--lv1">
                        <div class="hdg-4 ttl-center__item--en">
                            <h2>INFORMATION</h2>
                        </div>
                        <div class="hdg-7 ttl-center__item">
                            <p>新着情報</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-12">
                        <ul class="tab-basic js-tabMenu">
                            <li class="tab-basic__item js-tabMenu__link is-active">TAB1</li>
                            <li class="tab-basic__item js-tabMenu__link">TAB2</li>
                        </ul>
                        <div class="tab-basic__content--scroll js-tabContent is-active">
                            <div class="lst-newsList">
                                <dl class="lst-newsList__content">
                                    <dt class="lst-newsList__date">2017.00.00</dt>
                                    <dd class="lst-newsList__txt"><a href="./news/detail.html#hoge" class="lst-newsList__lnk">【タブ1】タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                    <dt class="lst-newsList__date">2017.00.00</dt>
                                    <dd class="lst-newsList__txt"><a href="./contact/detail.html" class="lst-newsList__lnk">長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。</a></dd>
                                    <dt class="lst-newsList__date">2017.00.00</dt>
                                    <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                    <dt class="lst-newsList__date">2017.00.00</dt>
                                    <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                    <dt class="lst-newsList__date">2017.00.00</dt>
                                    <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                    <dt class="lst-newsList__date">2017.00.00</dt>
                                    <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="tab-basic__content--scroll js-tabContent">
                            <dl class="lst-newsList__content">
                                <dt class="lst-newsList__date">2017.00.00</dt>
                                <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">【タブ2】タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                <dt class="lst-newsList__date">2017.00.00</dt>
                                <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。長めのタイトルが入っている場合。</a></dd>
                                <dt class="lst-newsList__date">2017.00.00</dt>
                                <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                <dt class="lst-newsList__date">2017.00.00</dt>
                                <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                <dt class="lst-newsList__date">2017.00.00</dt>
                                <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                                <dt class="lst-newsList__date">2017.00.00</dt>
                                <dd class="lst-newsList__txt"><a href="./news/detail.html" class="lst-newsList__lnk">タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="lst-btn">
                        <ul class="lst-btn__items">
                            <li class="lst-btn__item"><a href="./news/" class="btn-basic arw-r">一覧を見る</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'

export default {
  components: {
    AppLogo
  }
}
</script>

<style lang="scss">

/*====================================================================================
■00.Object
 ├ _00_1 layout
 ├ _00_2 animation
 └ _00_3 OverLayerConfig
■01.page-index

====================================================================================*/
/*====================================================================================
■00.Object
====================================================================================*/
/* _00_1 layout
-------------------------------------------------------------------- */
.page-index {}

/* _00_2 animation
-------------------------------------------------------------------- */
.page-index {}

/* _00_3 OverLayerConfig
-------------------------------------------------------------------- */
.page-index {}

/*====================================================================================
■01.page-index
====================================================================================*/
/* ---------------------------------------------------------------------------------------------------------
content_Layout

_00. common
_01. mainImg
_02. hoge
_03. news
_0*. ***
 ├ _0*_* ***
 ├ _0*_* ***
 └ _0*_* ***

 */

/* -----------------------------------------------------------------------------------
_00. common
----------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
_01. mainImg
----------------------------------------------------------------------------------- */
.mainImgWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.mainImg {
    overflow: hidden;
    width: 100%;
    height: 42vh;
    position: relative;
    background-color: #f3f3f3;
}
[class*="mainImg__img"] {
    width: 100%;
    display: none;
}
@include media(ll) {
  .mainImgWrap {
      margin-bottom: 60px;
  }
    .mainImg__img--768 {
        display: none;
    }
    .mainImg {
        // background: url(../images/mainImg--1025.png) no-repeat center center;
        // -webkit-background-size: cover;
        // background-size: cover;
        height: 512px;
    }
}

.mainTxt {
    font-weight: 900;
    font-size: 2.9rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.mainTxt__lg {
    position: relative;
    letter-spacing: 4px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 2.4rem;
}
.mainTxt__sm {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.5;
}
@include media(ss) {
  .mainTxt__lg {
    font-size: calc(2.4rem + ((1vw - 3.2px) * 1.1364));
  }
  .mainTxt__sm {
    font-size: calc(1.6rem + ((1vw - 3.2px) * 1.1364));
  }
}
@include media(ll) {
  .mainTxt__lg {
    font-size: 3.2rem;
    margin-bottom: 15px;
    line-height: 1;
  }
  .mainTxt__sm {
    font-size: 2.4rem;
    line-height: 1;
  }
}


/* -----------------------------------------------------------------------------------
_02. lede
----------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
_03. hoge
----------------------------------------------------------------------------------- */
.hogeWrap {
    background-color: #eee;
    padding-top: 45px;
    padding-bottom: 30px;
}

.hogeWrap .crd {
    background-color: rgba(255,255,255,0.9);
}

@include media(md) {
    .hogeWrap {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}


/* -----------------------------------------------------------------------------------
_05. news
----------------------------------------------------------------------------------- */

</style>
