@charset "utf-8";
// **************************************************************
// **                  don't rewrite this file                 **
// **************************************************************

// --------------------------------------------------------------
// Notes
// --------------------------------------------------------------
//
//$mapName: (
//    key1: value1,
//    key2: value2,
//    key3: (
//      nest-key1: nest-value1,
//      nest-key2: nest-value2,
//    ),
//);
//
//map-get($mapName, $key)
//map-get(map-get($mapName, $key),$nest-key)
//
//@function sample($key) {
//    @return map-get($mapName, $key);
//}
//
//@function sample($key, $nest-key: base) {
//    @return map-get(map-get($mapName, $key),$nest-key);
//}
//
//@each $name, $value in $mapName {
//  &--#{$name} {
//    background-color: $value;
//    color: $value;
//  }
//}
//@each $name, $color in $mapName {
//  $background-color: nth($color, 1);
//  $font-color:       nth($color, 2);
//  &--#{$name} {
//    color: $font-color;
//    background-color: $background-color;
//  }
//}

// ---------------------------------------------------------------
// breakpoint
// ---------------------------------------------------------------
$screen-xs-min:      0;
$screen-ss-min:  375px;
$screen-sm-min:  576px;
$screen-md-min:  768px;
$screen-lg-min:  992px;
$screen-ll-min:  1025px;
$screen-xl-min:  1200px;
$screen-xl2-min: 1440px;
$screen-xs-max: $screen-ss-min - 1;
$screen-ss-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xl-min - 1;
$screen-xl-max: $screen-xl2-min - 1;

// breakpoint set
$bps: ss, sm, md, lg, ll, xl;
$bps-full: ss, sm, md, lg, ll, xl, xl2;
$bps-exsp: sm-max, sm, md, lg, ll, xl;

// ---------------------------------------------------------------
// color
// ---------------------------------------------------------------
//colorset default
$white:   #fff;
$gray-e:  #eee;
$gray-d:  #ddd;
$gray-c:  #ccc;
$gray-b:  #bbb;
$gray-a:  #aaa;
$gray-9:  #999;
$gray-8:  #888;
$gray-7:  #777;
$gray-6:  #666;
$gray-5:  #555;
$gray-4:  #444;
$gray-3:  #333;
$gray-2:  #222;
$gray-1:  #111;
$black:   #000;

$protoColors: (
    w: $white,
    e: $gray-e,
    d: $gray-d,
    c: $gray-c,
    b: $gray-b,
    a: $gray-a,
    9: $gray-9,
    8: $gray-8,
    7: $gray-7,
    6: $gray-6,
    5: $gray-5,
    4: $gray-4,
    3: $gray-3,
    2: $gray-2,
    1: $gray-1,
    k: $black
);

// freedial
$freedialColor1: #009f41;
$freedialColor2: #0082ac;

//sns
$color-facebook--old  : #3b5998;// rgba(59,89,152,1)
$color-facebook       : #1877f2;// rgba(24,119,242,1)
$color-twitter        : #55acee;// rgba(85,172,238,1)
$color-instagram      : #3f729b;// rgba(35,31,32,1)
$color-youtube        : #cd201f;// rgba(205,32,31,1)
$color-pinterest      : #e60023;// rgba(230,0,35,1)
$color-hatena         : #00a4de;// rgba(0,164,222,1)
$color-line           : #00b900;// rgba(0,185,0,1)
