@charset "utf-8";
@import "_default";
@import "_variable";

// ==================================================
// 	media query
// ==================================================
@mixin media($media-bp) {
	@if $media-bp == xs {
		@media (max-width: $screen-xs-max) {
			@content;
		}
	}
	@else if $media-bp == ss {
		@media (min-width: $screen-ss-min) {
			@content;
		}
	}
	@else if $media-bp == sm {
		@media (min-width: $screen-sm-min) {
			@content;
		}
	}
	@else if $media-bp == md {
		@media (min-width: $screen-md-min) {
			@content;
		}
	}
	@else if $media-bp == lg {
		@media (min-width: $screen-lg-min) {
			@content;
		}
	}
	@else if $media-bp == ll {
		@media (min-width: $screen-ll-min) {
			@content;
		}
	}
	@else if $media-bp == xl {
		@media (min-width: $screen-xl-min) {
			@content;
		}
	}
	@else if $media-bp == xl2 {
		@media (min-width: $screen-xl2-min) {
			@content;
		}
	}
	@else if $media-bp == print {
		@media print {
			@content;
		}
	}

	@else if $media-bp == ss-max {
		@media (max-width: $screen-ss-max) {
			 @content;
		}
	}
	@else if $media-bp == sm-max {
		@media (max-width: $screen-sm-max) {
			 @content;
		}
	}
	@else if $media-bp == md-max {
		@media (max-width: $screen-md-max) {
			@content;
		}
	}
	@else if $media-bp == lg-max {
		@media (max-width: $screen-lg-max) {
			@content;
		}
	}
	@else if $media-bp == ll-max {
		@media (max-width: $screen-ll-max) {
			@content;
		}
	}
	@else if $media-bp == xl-max {
		@media (max-width: $screen-xl-max) {
			@content;
		}
	}

}

// ==================================================
// 	Orientation
// ==================================================
@mixin orient-v($orientation) {
	@if $orientation == opy {
		@media screen and (orientation: portrait) {
			@content;
		}
	}
	@else if $orientation == olx {
		@media screen and (orientation: landscape) {
			@content;
		}
	}
}

// ==================================================
// 	fontAwesome
// ==================================================
@mixin fontAwesome {
    font-family: 'FontAwesome 5 Free','fontAwesome';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
    line-height: 1;
}
