@charset "utf-8";
@import "_default";

// ----------------------------------------------------------------------------------------------
//variable 変数
//-------------------------------------------------------------------------------------------------
//1. Size
//   1-1. gutter
//   1-2. width
//   1-3. height
//
//   2. Color
//   2-0. colorset
//   2-1. baseColor
//   2-2. themeColor
//   2-3. bodyColor
//   2-4. fontColor
//
//   3. setting
//   3-1. font familiy
//   3-2. animation seconds
//
//
// ----------------------------------------------------------------------------------------------
// 1. Size
// ----------------------------------------------------------------------------------------------

// 1-1.gutter
// -----------------------------------------------
$gutter: 30px;

// 1-2.width
// -----------------------------------------------
$containerWidth: 1030px;

$markWidth: 60px;
$markWidth-sp:  44px;
$markWidth-tab: 60px;

// 1-3.height
// -----------------------------------------------
$headerHeight: 60px;
$headerHeight-sp:  44px;
$headerHeight-tab: 60px;
$headerHeight-pc:  80px;

//$navHeight-pc: 54px;
$subnavHeight-pc: 64px;

// ----------------------------------------------------------------------------------------------
// 2. Color
// ----------------------------------------------------------------------------------------------

// 2-0. colorset
// -----------------------------------------------
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$navmain: #0578a7 !default;
$navsubs: #1896ca !default;
$navfoot: #0075c2 !default;

// 2-1. baseColor
// --------------------
$baseColors: (
  white:  $white,
  gray:   $gray-9,
  black:  $gray-1,
);

// 2-2. themeColor
// --------------------
$themeColors: (
  blue:   $blue,
  indigo: $indigo,
  purple: $purple,
  pink:   $pink,
  red:    $red,
  orange: $orange,
  yellow: $yellow,
  green:  $green,
  teal:   $teal,
  cyan:   $cyan,

  main:   $white,
  sub1:   $gray-8,
  sub2:   $gray-5,
  sub3:   $black,
);


// 2-3. bodyColor
// --------------------
$bodyColor: $white;

// 2-4. fontColor
// --------------------
$fontColor-text:    $gray-1;
$fontColor-link:    $gray-1;
$fontColor-visited: $gray-1;
$fontColor-hover:   $gray-1;



// ----------------------------------------------------------------------------------------------
// 3. setting
// ----------------------------------------------------------------------------------------------

// 3-1. font family
// -----------------------------------------------
$wf-base: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// 3-2. animation sec
// -----------------------------------------------
$animationSec: .3s;
