@charset "utf-8";
@import "../../modules/import";
/* -----------------------------------------------
/* 0-0. import
-------------------------------------------------- */
* { font-family: inherit; }
/* -----------------------------------------------
/* 0-1. Base
-------------------------------------------------- */
body {
    width: 100%;
    font-family: $wf-base;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8;
    background-color: $bodyColor;
    color: $fontColor-text;
    * {
        box-sizing: border-box;
    }
    &.is-fix {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    @include media(md) {
        font-size: 1.4rem;
    }
    @include media(md) {
        &.is-fix {
        position: static;
        }
    }
}
a {
    box-sizing: border-box;
    word-break: break-all;
    color: $fontColor-text;
    text-decoration: underline;
    transition: opacity .1s ease-in-out 0s;
    /*-webkit-tap-highlight-color: transparent;*/
    &:link {
        //color: $fontColor-link;
        text-decoration: none;
    }
    &:visited {
        //color: $fontColor-visited;
        text-decoration: none
    }
    &:hover {
        //color: $fontColor-hover;
        text-decoration: none
    }
    /*
    &:hover,
    &:active {
        outline-width: 0;
        text-decoration: none;
    }
    &:focus {
        outline-width: 0;
        text-decoration: none;
    }
    */
}
li img, li a, li a img {
    vertical-align: bottom;
}

/* -----------------------------------------------
/* 0-2. Config
-------------------------------------------------- */
/* 0-2-1.  font family
-------------------------------------------------- */
@import "share/_fontface";

/* 0-2-2.  color management
-------------------------------------------------- */
/* base-color */
@each $name, $value in $baseColors {
    .color-#{$name} {
        color: $value;
    }
}
/* thema-color */
@each $name, $value in $themeColors {
    .color-#{$name} {
        color: $value;
    }
}

/* 0-2-3.  lightbox */
a[data-lightbox="lb"] {
    position: relative;
    text-decoration: none !important;
    pointer-events: none;
    @include media(md) {
        pointer-events: auto;
    }
    &::after {
        display: none;
        position: absolute;
        bottom: 5px;
        right: 5px;
        padding: 5px 10px;
        background-color: rgba(0,0,0,.50);
        @include fontAwesome;
        content:"\f002";
        color: #fff;
        text-decoration: none !important;
        @include media(md) {
            display: inline-block;
        }
    }
}
