@charset "utf-8";
@import "../../modules/import";

/* -----------------------------------------------
/* 1-1.  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
    position: relative;
    overflow: hidden;
}

/* -----------------------------------------------
/* 1-2.  .l-main
-------------------------------------------------- */
.l-main {
    margin-top: $headerHeight-sp;
    @include media(ll) {
        margin-top: $headerHeight-pc;
    }
}

/* -----------------------------------------------
/* 1-3.  .l-container
-------------------------------------------------- */
.l-container {
    margin-right: auto;
    margin-left: auto;
    max-width: $containerWidth;
    padding-right: $gutter / 2;
    padding-left:  $gutter / 2;
    position: relative;
    &--fluid {
        max-width: 100%;
        padding-right: 0;
        padding-left:  0;
        position: relative;
    }
    & + & {
        margin-top: $gutter * 2;
        @include media(md) {
            margin-top: $gutter * 3;
        }
    }
}

/* -----------------------------------------------
/* 1-4.  .l-header
-------------------------------------------------- */
@import "./layout/_l-header";

/* -----------------------------------------------
/* 1-5.  .l-footer
-------------------------------------------------- */
@import "./layout/_l-footer";

/* -----------------------------------------------
/* 1-6.  .l-nav
-------------------------------------------------- */
@import "./layout/_l-nav";

/* 1-6-1. .globalNav
-------------------------------------------------- */
@import "./nav/_globalNav";

/* 1-6-2. .footerNav
-------------------------------------------------- */
@import "./nav/_footerNav";

/* -----------------------------------------------
/* 1-7.  .l-mark
-------------------------------------------------- */
@import "./layout/_l-mark";

/* -----------------------------------------------
/* 1-8.  .l-loader
-------------------------------------------------- */
@import "./layout/_l-loader";

/* -----------------------------------------------
/* 1-9.  .l-state
-------------------------------------------------- */
@import "./layout/_l-state";