@charset "utf-8";
@import "../../modules/import";
/* -----------------------------------------------
/* 2-2. Animation [act-***]
-------------------------------------------------- */
.act-transition {
    transition: $animationSec;
}

// 共通設定
%act-fadeIn {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    will-change: transform;
    &.is-scrollin {
        opacity: 1;
        transform: none;
    }
}

.act-fadeIn {
    @extend %act-fadeIn;
    transform: translateY(60px);
    &Left {
        @extend %act-fadeIn;
        transform: translateX(-100px);
    }
    &Right {
        @extend %act-fadeIn;
        transform: translateX(100px);
    }
    &Top {
        @extend %act-fadeIn;
        transform: translateY(-60px);
    }
}


//delay
$timing: 2;
@for $i from 0 through 9 {
    .act-fadeDelay0#{$i} { transition-delay: (.1s * $timing) * $i !important; }
}
@for $i from 10 through 20 {
    .act-fadeDelay#{$i}  { transition-delay: (.1s * $timing) * $i !important; }
}

//zoom
.act-zoom {
    position: relative;
    overflow: hidden;
    img {
        transform: scale(1);
        transition: transform 0.5s ease;
    }
    &:hover,
    &.is-touch {
        img {
            transform: scale(1.03);
        }
    }
}
