@charset "utf-8";
@import "../../modules/import";
/* -----------------------------------------------
/* 2-3. OverLayerConfig [z-index]
-------------------------------------------------- */
.l-loader {
    z-index: 100;
}
.globalNav__bg {
    z-index: 1000;
}
.l-header, .globalNav__content {
    z-index: 1001;
}
.logo {
    z-index: 1002;
}

.l-mark {
    z-index: 2000;
}

.subNav {
    z-index: 1000;
}