@charset "utf-8";
@import "../../modules/import";

/* _04_1 common
-------------------------------------------------------------------- */


/* _04_2 list
-------------------------------------------------------------------- */
.mod-development {
    display: flex;
    flex-direction: column;
    padding: $gutter / 2;
    margin-top: $gutter / 2;
    border: 1px solid #bfbfbf;
    &__img {
        margin-bottom: $gutter / 2;
    }
    &__content {
        width: 100%;
    }
    &__btn {
        margin-top: $gutter * 1;
        margin-right: auto;
        margin-left: auto;
    }
    @include media(md) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: $gutter * 1;
        &__img {
            margin-bottom: 0;
            width: calc(40% - #{$gutter});
        }
        &__btn {
            margin-top: $gutter * 1.25;
            margin-right: 0;
        }
        &__img + &__content {
            width: 60%;
            margin-left: $gutter * 1;
        }
    }
    @include media(lg) {
        padding: $gutter * 1;
    }
}

/* _04_3 detail
-------------------------------------------------------------------- */
.mda-development__img,
.tbl-development,
.txt-development {
    margin-top: $gutter / 2;
    @include media(ll) {
        margin-top: $gutter * 1;
    }
}
