@charset "utf-8";
@import "../../modules/import";
/* _04_1 common
-------------------------------------------------------------------- */


/* _04_2 list
-------------------------------------------------------------------- */
.wrp-news__content {
    overflow-y: visible;
    height: auto;
}


/* _04_3 detail
-------------------------------------------------------------------- */
.mod-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: $gutter * 1;
    &__date {
        color: map-get($baseColors,gray);
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1;
        display: inline-block;
        margin-bottom: 1em;
        padding-top: $gutter * 1;
    }
    &__img,
    &__content {
        width: 100%;
    }
    &__img {
        text-align: center;
    }
    &__content {
        margin-top: 25px;
    }

    @include media(md) {
        flex-direction: row-reverse;
        margin-top: 30px;
        &__content {
            margin-top: 0;
            .mod-news__img + & {
                max-width: 66.666667%;
            }
        }
        &__img {
            max-width: 33.333333%;
            margin-left: $gutter * 1;
        }
    }
    @include media(lg) {
        &__img {
            margin-left: $gutter * 2;
        }
    }
}
