<template>
<div class="pagetop">
    <a class="pagetop__lnk" href="#top"><i class="pagetop__ico fa fa-angle-up" aria-hidden="true"></i></a>
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss">

</style>
