<template>
<footer class="g-footer">
    <div class="l-footer">
        <page-top></page-top>
        <l-nav></l-nav>
        <div class="copy">
            <small>&copy; 2020 hogehoge</small>
        </div>
    </div>
</footer>
</template>

<script>
import LNav from '~/components/layouts/nav-footer'
import pageTop from '~/components/ui/pageTop'
export default {
  components: {
    LNav,
    pageTop
  }
}
</script>

<style lang="scss">

</style>
