<template>
<header class="g-header">
  <div class="l-header">
      <div class="header__content">
          <div class="logo">
              <h1>
                <NuxtLink to="/" class="logo__lnk u-ff-roboto">LOGO</NuxtLink>
              </h1>
          </div>
          <l-nav></l-nav>
          <l-mark></l-mark>
      </div><!-- /.header__content -->
  </div><!-- /.l-header -->
</header>
</template>

<script>
import LNav from '~/components/layouts/nav-header'
import LMark from '~/components/layouts/mark'
export default {
  components: {
    LNav,
    LMark
  }
}
</script>

<style lang="scss" scoped>
  button {
    background: #000;
  }
</style>
