<template>
<div class="l-mark">
    <div class="mark">
        <div class="markMenu">
            <i class="markMenu__top"></i>
            <i class="markMenu__middle"></i>
            <i class="markMenu__bottom"></i>
            <div class="markBg"></div>
        </div>
    </div>
</div><!-- /.l-mark -->
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
