<template>
<div class="l-nav--footer">
  <div class="footerNav l-container">
      <div class="footerNav__content">
          <a href="./" class="logo-f u-ff-roboto">LOGO</a>
          <div class="footer__companyInfo">
              東京都千代田区九段南1丁目2-1<br>
              <span>TEL <a href="tel:000-000-0000" class="lnk-tel">000-000-0000</a> / FAX 000-000-0000</span>
          </div>
      </div>
      <ul class="fNav">
          <li class="fNav__item">
              <span class="fNav__txt js-fNavTrigger">製品情報</span>
              <ul class="fNav__content">
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>リンクリンクリンクリンクリンクリンクリンク</a></li>
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>リンクリンクリンクリンクリンクリンクリンク</a></li>
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>リンク</a></li>
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>リンク</a></li>
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>リンク</a></li>
              </ul>
          </li>
          <li class="fNav__item">
              <span class="fNav__txt js-fNavTrigger">採用情報</span>
              <ul class="fNav__content js-fNavContent">
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>採用トップ</a></li>
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>募集要項</a></li>
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>採用の流れ</a></li>
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>仕事を知る</a></li>
                  <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>エントリー</a></li>
              </ul>
          </li>
          <li class="fNav__item">
              <ul class="fNav__child">
                  <li class="fNav__item--child"><a href="./news/" class="fNav__lnk--child">新着情報</a></li>
                  <li class="fNav__item--child"><a href="./contact/" class="fNav__lnk--child">お問い合わせ</a></li>
                  <li class="fNav__item--child">
                      <span class="fNav__txt js-fNavTrigger">会社案内</span>
                      <ul class="fNav__content js-fNavContent">
                          <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>代表挨拶</a></li>
                          <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>経営理念</a></li>
                          <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>会社概要</a></li>
                          <li class="fNav__item--content"><a href="./" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>アクセス</a></li>
                          <li class="fNav__item--content"><a href="./contact/#pp" class="fNav__lnk--content"><i class="fa fa-angle-right u-mr5" aria-hidden="true"></i>個人情報保護方針</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </div>
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss">

</style>
