<template>
<nav class="g-nav">
    <div class="l-nav">
        <div class="globalNav">
            <div class="globalNav__content">
                <ul class="gNav">
                    <li class="gNav__item">
                        <NuxtLink to="/about/" class="gNav__lnk--item">ABOUT</NuxtLink>
                    </li>
                    <li class="gNav__item">
                        <NuxtLink to="/development/" class="gNav__lnk--item">プログラム</NuxtLink>
                    </li>
                    <li class="gNav__item">
                        <span class="gNav__txt--item js-subNavTrigger">会社案内</span>
                        <div class="subNav">
                            <ul class="sNav">
                                <li class="sNav__item"><a href="./fvlnews/" class="sNav__lnk--item">FVL新着</a></li>
                                <li class="sNav__item">
                                    <span class="sNav__txt--item js-subNavTrigger">動作検証（タブ）</span>
                                    <div class="subNav--child">
                                        <ul class="sNav--child">
                                            <li class="sNav__item--child"><a href="./tab/?tab=tab1#tabs" class="sNav__lnk--item">タブ1</a></li>
                                            <li class="sNav__item--child"><a href="./tab/?tab=tab2#tabs" class="sNav__lnk--item">タブ2</a></li>
                                            <li class="sNav__item--child"><a href="./tab/?tab=tab3#tabs" class="sNav__lnk--item">タブ3</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sNav__item">
                                    <span class="sNav__txt--item js-subNavTrigger">トリガー</span>
                                    <div class="subNav--child">
                                        <ul class="sNav--child">
                                            <li class="sNav__item--child"><a href="./recruit/works/" class="sNav__lnk--item">リンク</a></li>
                                            <li class="sNav__item--child"><a href="./recruit/project/" class="sNav__lnk--item">リンク</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sNav__item"><a href="./contact/#pp" class="sNav__lnk--item">個人情報保護方針</a></li>
                                <li class="sNav__item"><a href="#news" class="sNav__lnk--item">トップページ新着情報</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="gNav__item">
                        <NuxtLink to="/contact/" class="gNav__lnk--item">お問い合わせ</NuxtLink>
                    </li>
                    <li class="gNav__item">
                        <div class="telHeader">
                            <a href="tel:00-000-0000" class="telHeader__lnk">
                                <span class="telHeader__num"><i class="telHeader__ico fa fa-phone" aria-hidden="true"></i>00-000-0000</span>
                                <span class="telHeader__txt">受付時間 10:00 - 17:00[月~金]</span>
                            </a>
                        </div>
                    </li>
                </ul><!-- /.gNav -->
            </div>
            <div class="globalNav__bg"></div>
        </div><!-- /.globalNav -->
    </div>
</nav>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
