@charset "utf-8";
/*
 * SNS brand color
 */
.fc-facebook--old  { color: $color-facebook--old; }
.fc-facebook       { color: $color-facebook; }
.fc-twitter        { color: $color-twitter; }
.fc-instagram      { color: $color-instagram; }
.fc-youtube        { color: $color-youtube; }
.fc-pinterest      { color: $color-pinterest; }
.fc-hatena         { color: $color-hatena; }
.fc-line           { color: $color-line; }
